<!DOCTYPE html>
<html lang="en">
<head>

    <title><%= htmlTitle %></title>

    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>
    
</head>
<body>

    <%- include('includes/dashboard-header.ejs') %>

    <main>

        <div class="narrowWidthVanish -thinLineShadowBorder -topBottomMarginLarge">

            <p class="dashboard__headline -rightLeftPaddingMedium"><% if (addOrChangeProperty === "change") { %>Update <% } else if (addOrChangeProperty === "add") { %>Add <% } %> The Services That You Company Offers</p>

            <form action="/add-change-company-services" method="POST">

                <p class="input__label -topMarginLarge -rightLeftPaddingMedium">Services:</p>
                <p class="textSmall -bottomBorder -bottomPaddingMedium -rightLeftPaddingMedium">Select the services that you'd like customers to know about.  If you offer additional services or would like to include more detail about the services you offer include that on <a href="/upgrade-extend-premium">your company's description page</a>.</p>
                <div class="checkBox__largeContainer -rightLeftMarginMedium -topMarginSmall -topBottomPaddingSmall
                    <% if (typeof companyServicesError != "undefined") { %>
                        -errorBorder
                    <% } else { %> 
                        -bottomMarginMedium
                    <% } %>  
                ">
                    <div class="-bottomMarginSmall">
                        <input type="checkbox" id="boardingSecuring" name="boardingSecuring" value="true"
                            <% if (userInput.boardingSecuring === "true") { %> checked<% } %>>
                        <label for="boardingSecuring" class="checkBox__label"><%- labelBoardingSecuring %></label>
                    </div>

                    <div class="-bottomMarginSmall">
                        <input type="checkbox" id="debrisRemovalTrashout" name="debrisRemovalTrashout" value="true"
                            <% if (userInput.debrisRemovalTrashout === "true") { %> checked<% } %>>
                        <label for="debrisRemovalTrashout" class="checkBox__label"><%- labelDebrisRemovalTrashout %></label>
                    </div>

                    <div class="-bottomMarginSmall">
                        <input type="checkbox" id="evictionManagement" name="evictionManagement" value="true"
                            <% if (userInput.evictionManagement === "true") { %> checked<% } %>>
                        <label for="evictionManagement" class="checkBox__label"><%- labelEvictionManagement %></label>
                    </div>

                    <div class="-bottomMarginSmall">
                        <input type="checkbox" id="fieldInspection" name="fieldInspection" value="true"
                            <% if (userInput.fieldInspection === "true") { %> checked<% } %>>
                        <label for="fieldInspection" class="checkBox__label"><%- labelFieldInspection %></label>
                    </div>

                    <div class="-bottomMarginSmall">
                        <input type="checkbox" id="handymanGeneralMaintenance" name="handymanGeneralMaintenance" value="true"
                            <% if (userInput.handymanGeneralMaintenance === "true") { %> checked<% } %>>
                        <label for="handymanGeneralMaintenance" class="checkBox__label"><%- labelHandymanGeneralMaintenance %></label>
                    </div>

                    <div class="-bottomMarginSmall">
                        <input type="checkbox" id="landscapeMaintenance" name="landscapeMaintenance" value="true"
                            <% if (userInput.landscapeMaintenance === "true") { %> checked<% } %>>
                        <label for="landscapeMaintenance" class="checkBox__label"><%- labelLandscapeMaintenance %></label>
                    </div>

                    <div class="-bottomMarginSmall">
                        <input type="checkbox" id="lockChanges" name="lockChanges" value="true"
                            <% if (userInput.lockChanges === "true") { %> checked<% } %>>
                        <label for="lockChanges" class="checkBox__label"><%- labelLockChanges %></label>
                    </div>

                    <div class="-bottomMarginSmall">
                        <input type="checkbox" id="overseePropertyRehabilitation" name="overseePropertyRehabilitation" value="true"
                            <% if (userInput.overseePropertyRehabilitation === "true") { %> checked<% } %>>
                        <label for="overseePropertyRehabilitation" class="checkBox__label"><%- labelOverseePropertyRehabilitation %></label>
                    </div>

                    <div class="-bottomMarginSmall">
                        <input type="checkbox" id="poolMaintenance" name="poolMaintenance" value="true"
                            <% if (userInput.poolMaintenance === "true") { %> checked<% } %>>
                        <label for="poolMaintenance" class="checkBox__label"><%- labelPoolMaintenance %></label>
                    </div>

                    <div class="-bottomMarginSmall">
                        <input type="checkbox" id="propertyCleaning" name="propertyCleaning" value="true"
                            <% if (userInput.propertyCleaning === "true") { %> checked<% } %>>
                        <label for="propertyCleaning" class="checkBox__label"><%- labelPropertyCleaning %></label>
                    </div>

                    <div>
                        <input type="checkbox" id="winterizations" name="winterizations" value="true"
                            <% if (userInput.winterizations === "true") { %> checked<% } %>>
                        <label for="winterizations" class="checkBox__label"><%- labelWinterizations %></label>
                    </div>

                </div>  

                <% if (typeof companyServicesError != "undefined") { %>
                    <div class="input__error -rightLeftMarginMedium -bottomMarginLarge"><%= companyServicesError %></div>
                <% } %> 

                <input type="hidden" name="deleteProperty" value="no">

                <div class="-bottomMarginLarge -rightLeftMarginMedium">
                    <button id="narrowScreen__button"><% if (addOrChangeProperty === "change") { %>Save Change<% } else if (addOrChangeProperty === "add") { %>Add<% } %></button>
                </div>

            </form>

            <% if (addOrChangeProperty === "change") { %>
            <form action="/add-change-company-services" method="POST">
                <div class="-bottomMarginLarge -rightLeftMarginMedium -rightAlign">
                    <button class="button_fauxLink">Delete Your Company's Services</button>
                </div>
                <input type="hidden" name="boardingSecuring" value="false">
                <input type="hidden" name="debrisRemovalTrashout" value="false">
                <input type="hidden" name="evictionManagement" value="false">
                <input type="hidden" name="fieldInspection" value="false">
                <input type="hidden" name="handymanGeneralMaintenance" value="false">
                <input type="hidden" name="landscapeMaintenance" value="false">
                <input type="hidden" name="lockChanges" value="false">
                <input type="hidden" name="overseePropertyRehabilitation" value="false">
                <input type="hidden" name="poolMaintenance" value="false">
                <input type="hidden" name="propertyCleaning" value="false">
                <input type="hidden" name="winterizations" value="false">
                <input type="hidden" name="deleteProperty" value="yes">
            </form>
            <% } %>  

            <%- include('includes/back-to-my-account.ejs') %>

        </div>

    </main>

    <%- include('includes/standard-screen-footer.ejs') %>

</body>
</html>