<!DOCTYPE html>
<html lang="en">
<head>

    <title><%= htmlTitle %></title>
    
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>

    <script defer src="js/cleave.min.js"></script>
    <script defer src="js/cleave-phone.us.js"></script>
    <script defer src="js/connect/cleave-connection.js"></script>

</head>
<body>

    <%- include('includes/my-account-header.ejs') %>

    <main class="mainContainer__standard">

        <div class="internalContainer__narrowVanish">

            <div class="heading__container">
                <p class="heading__headline"><% if (addOrChangeProperty === "change") { %>Change <% } else if (addOrChangeProperty === "add") { %>Add <% } %> Your Company's Phone</p>
            </div>

            <% if (addOrChangeProperty === "change") { %>
            <div class="myAccount__defaultUnit">
                <p class="myAccount__subHeadline">Current Company Phone:</p>
                <p class="myAccount__bodyTextLarge -marginBottomZero"><%= companyPhone %></p>
            </div>
            <% } %>

            <div class="internalContainer__paddingTwo32Four">

                <form action="/add-change-company-phone" method="POST">

                    <input type="hidden" name="deleteProperty" value="false">

                    <div class="input__unit -marginBottomFour">
                        <label for="companyPhone" class="input__label"><% if (addOrChangeProperty === "change") { %>Updated <% } %>Company Phone:</label>
                        <p class="myAccount__bodyTextSmall -marginBottomOne">Include the phone number that customers can reach you at.</p>
                        <input id="companyPhone" class="input__field
                            <% if (typeof companyPhoneError != "undefined") { %>
                                -borderError
                            <% } %>
                            " name="companyPhone" <%= companyPhoneAttributes %> value="<%= userInput.companyPhone %>" autofocus>
                        <% if (typeof companyPhoneError != "undefined") { %>
                        <div class="input__error"><%= companyPhoneError %></div>
                        <% } %> 
                    </div>
                    
                    <%- include('includes/button-narrow-screen.ejs') %>

                </form>

                <% if (addOrChangeProperty === "change") { %>
                <form action="/add-change-company-phone" method="POST">
                    <div class="-marginBottomFour -rightAlign">
                        <button class="button__bodyTextMedium">Delete Your Company's Phone Number</button>
                    </div>
                    <input type="hidden" name="companyPhone" value="">
                    <input type="hidden" name="deleteProperty" value="true">
                </form>
                <% } %>  

            </div>

        </div>

    </main>

    <%- include('includes/footer-standard.ejs') %>

</body>
</html>