<!DOCTYPE html>
<html lang="en">
<head>

    <title><%= htmlTitle %></title>

    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>
    
</head>
<body>

    <%- include('includes/my-account-header.ejs') %>

    <main class="mainContainer__standard">

        <div class="internalContainer__narrowVanish">

            <div class="heading__container">
                <p class="heading__headline"><% if (addOrChangeProperty === "change") { %>Update <% } else if (addOrChangeProperty === "add") { %>Add <% } %> The Services That You Company Offers</p>
            </div>

            <form action="/add-change-company-services" method="POST">
                
                <div class="myAccount__defaultUnit">

                    <h2 class="heading__small">Services:</h2>

                    <p class="myAccount__bodyTextSmall">Select the services that you'd like customers to know about. If you offer additional services or would like to include more detail about the services you offer
                    <% if (isAccountUpgraded === true) { %>

                        include that information on your company's <a href="/add-change-company-description">Description page</a>.

                    <% } else { %>

                        <a href="/upgrade-extend-premium">upgrade to Premium</a> and include that information on your your company's Description page.
                            
                    <% } %> 
                    </p>

                </div>

                <div class="checkBox__largeContainer
                    <% if (typeof companyServicesError != "undefined") { %>
                        -borderError -marginBottomZero
                    <% } %> 
                ">
                    <div class="-marginBottomOne">
                        <input type="checkbox" id="boardingSecuring" name="boardingSecuring" value="true"
                            <% if (userInput.boardingSecuring === "true") { %> checked<% } %>>
                        <label for="boardingSecuring" class="checkRadio__label"><%- labelBoardingSecuring %></label>
                    </div>

                    <div class="-marginBottomOne">
                        <input type="checkbox" id="debrisRemovalTrashout" name="debrisRemovalTrashout" value="true"
                            <% if (userInput.debrisRemovalTrashout === "true") { %> checked<% } %>>
                        <label for="debrisRemovalTrashout" class="checkRadio__label"><%- labelDebrisRemovalTrashout %></label>
                    </div>

                    <div class="-marginBottomOne">
                        <input type="checkbox" id="evictionManagement" name="evictionManagement" value="true"
                            <% if (userInput.evictionManagement === "true") { %> checked<% } %>>
                        <label for="evictionManagement" class="checkRadio__label"><%- labelEvictionManagement %></label>
                    </div>

                    <div class="-marginBottomOne">
                        <input type="checkbox" id="fieldInspection" name="fieldInspection" value="true"
                            <% if (userInput.fieldInspection === "true") { %> checked<% } %>>
                        <label for="fieldInspection" class="checkRadio__label"><%- labelFieldInspection %></label>
                    </div>

                    <div class="-marginBottomOne">
                        <input type="checkbox" id="handymanGeneralMaintenance" name="handymanGeneralMaintenance" value="true"
                            <% if (userInput.handymanGeneralMaintenance === "true") { %> checked<% } %>>
                        <label for="handymanGeneralMaintenance" class="checkRadio__label"><%- labelHandymanGeneralMaintenance %></label>
                    </div>

                    <div class="-marginBottomOne">
                        <input type="checkbox" id="landscapeMaintenance" name="landscapeMaintenance" value="true"
                            <% if (userInput.landscapeMaintenance === "true") { %> checked<% } %>>
                        <label for="landscapeMaintenance" class="checkRadio__label"><%- labelLandscapeMaintenance %></label>
                    </div>

                    <div class="-marginBottomOne">
                        <input type="checkbox" id="lockChanges" name="lockChanges" value="true"
                            <% if (userInput.lockChanges === "true") { %> checked<% } %>>
                        <label for="lockChanges" class="checkRadio__label"><%- labelLockChanges %></label>
                    </div>

                    <div class="-marginBottomOne">
                        <input type="checkbox" id="overseePropertyRehabilitation" name="overseePropertyRehabilitation" value="true"
                            <% if (userInput.overseePropertyRehabilitation === "true") { %> checked<% } %>>
                        <label for="overseePropertyRehabilitation" class="checkRadio__label"><%- labelOverseePropertyRehabilitation %></label>
                    </div>

                    <div class="-marginBottomOne">
                        <input type="checkbox" id="poolMaintenance" name="poolMaintenance" value="true"
                            <% if (userInput.poolMaintenance === "true") { %> checked<% } %>>
                        <label for="poolMaintenance" class="checkRadio__label"><%- labelPoolMaintenance %></label>
                    </div>

                    <div class="-marginBottomOne">
                        <input type="checkbox" id="propertyCleaning" name="propertyCleaning" value="true"
                            <% if (userInput.propertyCleaning === "true") { %> checked<% } %>>
                        <label for="propertyCleaning" class="checkRadio__label"><%- labelPropertyCleaning %></label>
                    </div>

                    <div>
                        <input type="checkbox" id="winterizations" name="winterizations" value="true"
                            <% if (userInput.winterizations === "true") { %> checked<% } %>>
                        <label for="winterizations" class="checkRadio__label"><%- labelWinterizations %></label>
                    </div>

                </div>  

                <div class="-paddingRightLeft32">

                <% if (typeof companyServicesError != "undefined") { %>
                    <div class="input__error -marginBottomFour"><%= companyServicesError %></div>
                <% } %> 

                    <%- include('includes/button-narrow-screen.ejs') %>

                </div>

                <input type="hidden" name="deleteProperty" value="false">

            </form>

            <div class="-paddingRightLeft32 -marginBottomFour">

                <% if (addOrChangeProperty === "change") { %>
                <form action="/add-change-company-services" method="POST">
                    <div class="-marginBottomFour -rightAlign">
                        <button class="button__bodyTextMedium">Delete Your Company's Services</button>
                    </div>
                    <input type="hidden" name="boardingSecuring" value="false">
                    <input type="hidden" name="debrisRemovalTrashout" value="false">
                    <input type="hidden" name="evictionManagement" value="false">
                    <input type="hidden" name="fieldInspection" value="false">
                    <input type="hidden" name="handymanGeneralMaintenance" value="false">
                    <input type="hidden" name="landscapeMaintenance" value="false">
                    <input type="hidden" name="lockChanges" value="false">
                    <input type="hidden" name="overseePropertyRehabilitation" value="false">
                    <input type="hidden" name="poolMaintenance" value="false">
                    <input type="hidden" name="propertyCleaning" value="false">
                    <input type="hidden" name="winterizations" value="false">
                    <input type="hidden" name="deleteProperty" value="true">
                </form>
                <% } %>  

            </div>

        </div>

    </main>

    <%- include('includes/footer-standard.ejs') %>

</body>
</html>