<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= htmlTitle %></title>
    
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>

    <script defer src="js/character-blocker.js"></script>
    <script defer src="js/connect/company-name-character-blocker.js"></script>
</head>
<body>

    <%- include('includes/dashboard-header.ejs') %>

    <main>

        <div class="-narrowWidthVanish -thinLineShadowBorder -topBottomMarginLarge">

            <p class="dashboard__headline -rightLeftPaddingMedium"><% if (addOrChangeProperty === "change") { %>Change <% } else if (addOrChangeProperty === "add") { %>Add <% } %> Your Company's Name</p>

            <% if (addOrChangeProperty === "change") { %>
            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Current Company Name:</p>
                    <p class="dashboard__value -rightLeftMarginMedium"><%= companyName %></p>
                </div>
            </div>
            <% } %>

            <form action="/add-change-company-name" method="POST">

                <input type="hidden" name="deleteProperty" value="false">

                <div class="input__unit <% if (addOrChangeProperty === "change") { %> -topMarginMedium <% } else if (addOrChangeProperty === "add") { %> -topMarginLarge <% } %> -bottomMarginLarge -rightLeftMarginMedium"> 
                    <label for="companyName" class="input__label"><% if (addOrChangeProperty === "change") { %>Updated <% } %>Company Name:</label>
                        <p class="textSmall -bottomMarginSmall">Include your legal company name.</p>
                    <input id="companyName" class="input__field
                        <% if (typeof companyNameError != "undefined") { %>
                            -errorBorder
                        <% } %>
                        " name="companyName" <%= companyNameAttributes %> value="<%= userInput.companyName %>" autofocus>
                    <% if (typeof companyNameError != "undefined") { %>
                    <div class="input__error"><%= companyNameError %></div>
                    <% } %> 
                </div>

                <div class="-bottomMarginLarge -rightLeftMarginMedium">
                    <button id="narrowScreen__button"><% if (addOrChangeProperty === "change") { %>Save Change<% } else if (addOrChangeProperty === "add") { %>Add<% } %></button>
                </div>  

            </form>

            <% if (addOrChangeProperty === "change") { %>
            <form action="/add-change-company-name" method="POST">
                <div class="-bottomMarginLarge -rightLeftMarginMedium -rightAlign">
                    <button class="button_fauxLinkMedium">Delete Your Company's Name</button>
                </div>
                <input type="hidden" name="companyName" value="">
                <input type="hidden" name="deleteProperty" value="true">
            </form>
            <% } %>  

            <%- include('includes/back-to-my-account.ejs') %>

        </div>

    </main>

    <%- include('includes/standard-screen-footer.ejs') %>

</body>
</html>