<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= htmlTitle %></title>
    
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>

    <script defer src="js/character-blocker.js"></script>
    <script defer src="js/connect/company-description-character-blocker.js"></script>
</head>
<body>

    <%- include('includes/my-account-header.ejs') %>

    <main class="mainContainer__standard">

        <div class="internalContainer__narrowVanish">

            <div class="heading__container">
                <p class="heading__headline"><% if (addOrChangeProperty === "change") { %>Change <% } else if (addOrChangeProperty === "add") { %>Add <% } %> Your Company's Description</p>
            </div>

            <% if (addOrChangeProperty === "change") { %>
            <div class="myAccount__defaultUnit">
                <p class="myAccount__subHeadline">Current Company Description:</p>
                <p class="myAccount__bodyTextLarge -marginBottomZero"><%= companyDescription %></p>
            </div>
            <% } %>

            <div class="internalContainer__paddingTwo32Four">

                <form action="/add-change-company-description" method="POST">

                    <input type="hidden" name="deleteProperty" value="false">

                    <div class="input__unit -marginBottomFour">
                        <label for="companyDescription" class="input__label"><% if (addOrChangeProperty === "change") { %>Updated <% } %>Company Description:</label>
                        <p class="myAccount__bodyTextSmall -marginBottomOne">Include information about your company's history, services or other selling points that customers would be interested in. Please use <%= companyDescriptionMaxLength %> characters or less.</p>
                        <textarea id="companyDescription" class="input__field -setFontFamilyDefault
                            <% if (typeof companyDescriptionError != "undefined") { %>
                                -borderError
                            <% } %>
                            " name="companyDescription" <%= companyDescriptionAttributes %> autofocus><%= userInput.companyDescription %></textarea>
                        <% if (typeof companyDescriptionError != "undefined") { %>
                        <div class="input__error"><%= companyDescriptionError %></div>
                        <% } %> 
                    </div>

                    <button class="button__narrowScreen"><% if (addOrChangeProperty === "change") { %>Save Change<% } else if (addOrChangeProperty === "add") { %>Add<% } %></button>

                </form>

                <% if (addOrChangeProperty === "change") { %>
                <form action="/add-change-company-description" method="POST">
                    <div class="-marginBottomFour -rightAlign">
                        <button class="button__bodyTextMedium">Delete Your Company's Description</button>
                    </div>
                    <input type="hidden" name="companyDescription" value="">
                    <input type="hidden" name="deleteProperty" value="true">
                </form>
                <% } %>  

                <%- include('includes/back-to-my-account.ejs') %>

            </div>

        </div>

    </main>

    <%- include('includes/footer-standard.ejs') %>

</body>
</html>