<!DOCTYPE html>
<html lang="en">
<head>

    <title><%= htmlTitle %></title>
    
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>

    <script defer src="js/cleave.min.js"></script>
    <script defer src="js/cleave-phone.us.js"></script>
    <script defer src="js/connect/cleave-connection.js"></script>

</head>
<body>

    <%- include('includes/dashboard-header.ejs') %>

    <main>

        <div class="-narrowWidthVanish -thinLineShadowBorder -topBottomMarginLarge">

            <p class="dashboard__headline -rightLeftPaddingMedium"><% if (addOrChangeProperty === "change") { %>Change <% } else if (addOrChangeProperty === "add") { %>Add <% } %> Your Company's Phone</p>

            <% if (addOrChangeProperty === "change") { %>
            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Current Company Phone:</p>
                    <p class="dashboard__value -rightLeftMarginMedium"><%= companyPhone %></p>
                </div>
            </div>
            <% } %>

            <form action="/add-change-company-phone" method="POST">

                <input type="hidden" name="deleteProperty" value="false">

                <div class="input__unit <% if (addOrChangeProperty === "change") { %> -topMarginMedium <% } else if (addOrChangeProperty === "add") { %> -topMarginLarge <% } %> -bottomMarginLarge -rightLeftMarginMedium"> 
                    <label for="companyPhone" class="input__label"><% if (addOrChangeProperty === "change") { %>Updated <% } %>Company Phone:</label>
                    <p class="textSmall -bottomMarginSmall">Include the phone number that customers can reach you at.</p>
                    <input id="companyPhone" class="input__field
                        <% if (typeof companyPhoneError != "undefined") { %>
                            -errorBorder
                        <% } %>
                        " name="companyPhone" <%= companyPhoneAttributes %> value="<%= userInput.companyPhone %>" autofocus>
                    <% if (typeof companyPhoneError != "undefined") { %>
                    <div class="input__error"><%= companyPhoneError %></div>
                    <% } %> 
                </div>

                <div class="-bottomMarginLarge -rightLeftMarginMedium">
                    <button id="narrowScreen__button"><% if (addOrChangeProperty === "change") { %>Save Change<% } else if (addOrChangeProperty === "add") { %>Add<% } %></button>
                </div>  

            </form>

            <% if (addOrChangeProperty === "change") { %>
            <form action="/add-change-company-phone" method="POST">
                <div class="-bottomMarginLarge -rightLeftMarginMedium -rightAlign">
                    <button class="button_fauxLinkMedium">Delete Your Company's Phone Number</button>
                </div>
                <input type="hidden" name="companyPhone" value="">
                <input type="hidden" name="deleteProperty" value="true">
            </form>
            <% } %>  

            <%- include('includes/back-to-my-account.ejs') %>

        </div>

    </main>

    <%- include('includes/standard-screen-footer.ejs') %>

</body>
</html>