<!DOCTYPE html>
<html lang="en">
<head>
    <title><% if (addOrChange === "change") { %>Change<% } else if (addOrChange === "add") { %>Add<% } %> Business Address</title>
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>
</head>
<body>

    <%- include('includes/dashboard-header.ejs') %>

    <main>

        <div class="narrowWidthVanish -thinLineShadowBorder -topBottomMarginLarge">

            <% if (typeof normalize != "undefined") { %>

            <p class="dashboard__headline">Address Normalization</p>
            <p class="dashboard__subText -rightLeftMarginMedium">If the top address is accurate we recommend that you normalize your company's address to the format used by the US Postal Service.</p>
            <div class="addressNormalizationBox -rightLeftMarginMedium">
                <p class="addressNormalization -topMarginMedium"><%= normalize.uspsStreet %><% if (normalize.uspsStreetTwo != "") { %>, <%= normalize.uspsStreetTwo %><% } %></p>
                <p class="addressNormalization -bottomMarginMedium"><%= normalize.uspsCity %>, <%= normalize.uspsState %> <%= normalize.uspsZip %></p>

                <form action="/add-change-business-address" method="POST">
                    <div class="-bottomMarginMedium -rightLeftMarginMedium">
                        <button class="uspsFormat__button">Use US Postal Service format</button>
                    </div>
                    <input type="hidden" name="businessStreet" value="<%= normalize.uspsStreet %>">
                    <input type="hidden" name="businessStreetTwo" value="<%= normalize.uspsStreetTwo %>">
                    <input type="hidden" name="businessCity" value="<%= normalize.uspsCity %>">
                    <input type="hidden" name="businessState" value="<%= normalize.uspsState %>">
                    <input type="hidden" name="businessZip" value="<%= normalize.uspsZip %>">
                </form> 

            </div>

            <div class="addressNormalizationBox -rightLeftMarginMedium">
                <p class="addressNormalization -topMarginMedium"><%= normalize.userInputStreet %><% if (normalize.userInputStreetTwo != "") { %>, <%= normalize.userInputStreetTwo %><% } %></p>
                <p class="addressNormalization -bottomMarginMedium"><%= normalize.userInputCity %>, <%= normalize.userInputState %> <%= normalize.userInputZip %></p>

                <form action="/add-change-business-address" method="POST">
                    <div class="-bottomMarginMedium -rightLeftMarginMedium">
                        <button class="originalFormat__button">Keep original</button>
                    </div>
                    <input type="hidden" name="businessStreet" value="<%= normalize.userInputStreet %>">
                    <input type="hidden" name="businessStreetTwo" value="<%= normalize.userInputStreetTwo %>">
                    <input type="hidden" name="businessCity" value="<%= normalize.userInputCity %>">
                    <input type="hidden" name="businessState" value="<%= normalize.userInputState %>">
                    <input type="hidden" name="businessZip" value="<%= normalize.userInputZip %>">
                    <input type="hidden" name="override" value="true">
                </form> 
            
            </div>

            <div class="-rightAlign -rightLeftMarginMedium -bottomMarginMedium"><a href="/add-change-business-address"><div class="dashboard__fauxButton">< Back</div></a></div>

            <% } else { %>            

            <p class="dashboard__headline"><% if (addOrChange === "change") { %>Change<% } else if (addOrChange === "add") { %>Add<% } %> Business Address</p>

            <form action="/add-change-business-address" method="POST">

                <div class="input__unit -topBottomMarginMedium -rightLeftMarginMedium"> 
                    <label for="businessStreet" class="input__label
                        <% if (typeof businessStreetError != "undefined") { %>
                            -errorColor
                        <% } %>   
                        ">Street Address:</label>
                    <input id="businessStreet" class="input__field
                        <% if (typeof businessStreetError != "undefined") { %>
                            -errorBorder
                        <% } %>
                        " name="businessStreet" <%= businessStreetAttributes %> value="<%= userInput.businessStreet %>" autofocus>
                    <% if (typeof businessStreetError != "undefined") { %>
                    <div class="input__errorMessage"><%= businessStreetError %></div>
                    <% } %> 
                </div>

                <div class="input__unit -topBottomMarginMedium -rightLeftMarginMedium"> 
                    <label for="businessStreetTwo" class="input__label
                        <% if (typeof businessStreetTwoError != "undefined") { %>
                            -errorColor
                        <% } %>   
                        ">Street Address Line Two:</label>
                    <input id="businessStreetTwo" class="input__field
                        <% if (typeof businessStreetTwoError != "undefined") { %>
                            -errorBorder
                        <% } %>
                        " name="businessStreetTwo" <%= businessStreetTwoAttributes %> value="<%= userInput.businessStreetTwo %>">
                    <% if (typeof businessStreetTwoError != "undefined") { %>
                    <div class="input__errorMessage"><%= businessStreetTwoError %></div>
                    <% } %> 
                </div>

                <div class="input__unit -topBottomMarginMedium -rightLeftMarginMedium"> 
                    <label for="businessCity" class="input__label
                        <% if (typeof businessCityError != "undefined") { %>
                            -errorColor
                        <% } %>   
                        ">City:</label>
                    <input id="businessCity" class="input__field
                        <% if (typeof businessCityError != "undefined") { %>
                            -errorBorder
                        <% } %>
                        " name="businessCity" <%= businessCityAttributes %> value="<%= userInput.businessCity %>">
                    <% if (typeof businessCityError != "undefined") { %>
                    <div class="input__errorMessage"><%= businessCityError %></div>
                    <% } %> 
                </div>

                <div class="input__unit -topBottomMarginMedium -rightLeftMarginMedium"> 
                    <label for="businessState" class="input__label
                        <% if (typeof businessStateError != "undefined") { %>
                            -errorColor
                        <% } %>   
                        ">State:</label>
                    <select id="businessState" class="input__field
                        <% if (typeof businessStateError != "undefined") { %>
                            -errorBorder
                        <% } %>
                        " name="businessState">
                        <option value="" selected disabled>Select Your State</option>
                        <option value="AL" <% if (userInput.businessState === "AL") { %>selected<% } %>>AL</option>
                        <option value="AK" <% if (userInput.businessState === "AK") { %>selected<% } %>>AK</option>
                        <option value="AZ" <% if (userInput.businessState === "AZ") { %>selected<% } %>>AZ</option>
                        <option value="AR" <% if (userInput.businessState === "AR") { %>selected<% } %>>AR</option>
                        <option value="CA" <% if (userInput.businessState === "CA") { %>selected<% } %>>CA</option>
                        <option value="CO" <% if (userInput.businessState === "CO") { %>selected<% } %>>CO</option>
                        <option value="CT" <% if (userInput.businessState === "CT") { %>selected<% } %>>CT</option>
                        <option value="DC" <% if (userInput.businessState === "DC") { %>selected<% } %>>DC</option>
                        <option value="DE" <% if (userInput.businessState === "DE") { %>selected<% } %>>DE</option>
                        <option value="FL" <% if (userInput.businessState === "FL") { %>selected<% } %>>FL</option>
                        <option value="GA" <% if (userInput.businessState === "GA") { %>selected<% } %>>GA</option>
                        <option value="HI" <% if (userInput.businessState === "HI") { %>selected<% } %>>HI</option>
                        <option value="ID" <% if (userInput.businessState === "ID") { %>selected<% } %>>ID</option>
                        <option value="IL" <% if (userInput.businessState === "IL") { %>selected<% } %>>IL</option>
                        <option value="IN" <% if (userInput.businessState === "IN") { %>selected<% } %>>IN</option>
                        <option value="IA" <% if (userInput.businessState === "IA") { %>selected<% } %>>IA</option>
                        <option value="KS" <% if (userInput.businessState === "KS") { %>selected<% } %>>KS</option>
                        <option value="KY" <% if (userInput.businessState === "KY") { %>selected<% } %>>KY</option>
                        <option value="LA" <% if (userInput.businessState === "LA") { %>selected<% } %>>LA</option>
                        <option value="ME" <% if (userInput.businessState === "ME") { %>selected<% } %>>ME</option>
                        <option value="MD" <% if (userInput.businessState === "MD") { %>selected<% } %>>MD</option>
                        <option value="MA" <% if (userInput.businessState === "MA") { %>selected<% } %>>MA</option>
                        <option value="MI" <% if (userInput.businessState === "MI") { %>selected<% } %>>MI</option>
                        <option value="MN" <% if (userInput.businessState === "MN") { %>selected<% } %>>MN</option>
                        <option value="MS" <% if (userInput.businessState === "MS") { %>selected<% } %>>MS</option>
                        <option value="MO" <% if (userInput.businessState === "MO") { %>selected<% } %>>MO</option>
                        <option value="MT" <% if (userInput.businessState === "MT") { %>selected<% } %>>MT</option>
                        <option value="NE" <% if (userInput.businessState === "NE") { %>selected<% } %>>NE</option>
                        <option value="NV" <% if (userInput.businessState === "NV") { %>selected<% } %>>NV</option>
                        <option value="NH" <% if (userInput.businessState === "NH") { %>selected<% } %>>NH</option>
                        <option value="NJ" <% if (userInput.businessState === "NJ") { %>selected<% } %>>NJ</option>
                        <option value="NM" <% if (userInput.businessState === "NM") { %>selected<% } %>>NM</option>
                        <option value="NY" <% if (userInput.businessState === "NY") { %>selected<% } %>>NY</option>
                        <option value="NC" <% if (userInput.businessState === "NC") { %>selected<% } %>>NC</option>
                        <option value="ND" <% if (userInput.businessState === "ND") { %>selected<% } %>>ND</option>
                        <option value="OH" <% if (userInput.businessState === "OH") { %>selected<% } %>>OH</option>
                        <option value="OK" <% if (userInput.businessState === "OK") { %>selected<% } %>>OK</option>
                        <option value="OR" <% if (userInput.businessState === "OR") { %>selected<% } %>>OR</option>
                        <option value="PA" <% if (userInput.businessState === "PA") { %>selected<% } %>>PA</option>
                        <option value="RI" <% if (userInput.businessState === "RI") { %>selected<% } %>>RI</option>
                        <option value="SC" <% if (userInput.businessState === "SC") { %>selected<% } %>>SC</option>
                        <option value="SD" <% if (userInput.businessState === "SD") { %>selected<% } %>>SD</option>
                        <option value="TN" <% if (userInput.businessState === "TN") { %>selected<% } %>>TN</option>
                        <option value="TX" <% if (userInput.businessState === "TX") { %>selected<% } %>>TX</option>
                        <option value="UT" <% if (userInput.businessState === "UT") { %>selected<% } %>>UT</option>
                        <option value="VT" <% if (userInput.businessState === "VT") { %>selected<% } %>>VT</option>
                        <option value="VA" <% if (userInput.businessState === "VA") { %>selected<% } %>>VA</option>
                        <option value="WA" <% if (userInput.businessState === "WA") { %>selected<% } %>>WA</option>
                        <option value="WV" <% if (userInput.businessState === "WV") { %>selected<% } %>>WV</option>
                        <option value="WI" <% if (userInput.businessState === "WI") { %>selected<% } %>>WI</option>
                        <option value="WY" <% if (userInput.businessState === "WY") { %>selected<% } %>>WY</option>
                    </select>

                    <% if (typeof businessStateError != "undefined") { %>
                    <div class="input__errorMessage"><%= businessStateError %></div>
                    <% } %> 
                </div>

                <div class="input__unit -topMarginMedium -bottomMarginLarge -rightLeftMarginMedium"> 
                    <label for="businessZip" class="input__label
                        <% if (typeof businessZipError != "undefined") { %>
                            -errorColor
                        <% } %>   
                        ">Zip Code:</label>
                    <input id="businessZip" class="input__field
                        <% if (typeof businessZipError != "undefined") { %>
                            -errorBorder
                        <% } %>
                        " name="businessZip" <%= businessZipAttributes %> value="<%= userInput.businessZip %>">
                    <% if (typeof businessZipError != "undefined") { %>
                    <div class="input__errorMessage"><%= businessZipError %></div>
                    <% } %> 
                </div>

                <div class="-bottomMarginLarge -rightLeftMarginMedium">
                    <button id="narrowScreen__button"><% if (addOrChange === "change") { %>Save Change<% } else if (addOrChange === "add") { %>Add<% } %></button>
                </div>  

            </form>

            <%- include('includes/back-to-my-account.ejs') %>

        <% } %>
        </div>

    </main>

    <%- include('includes/standard-screen-footer.ejs') %>

</body>
</html>