<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= htmlTitle %></title>
    
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>

    <script defer src="js/character-blocker.js"></script>
    <script defer src="js/connect/company-name-character-blocker.js"></script>
</head>
<body>

    <%- include('includes/my-account-header.ejs') %>

    <main class="mainContainer__standard">

        <div class="internalContainer__narrowVanish">

            <div class="heading__container">
                <p class="heading__headline"><% if (addOrChangeProperty === "change") { %>Change <% } else if (addOrChangeProperty === "add") { %>Add <% } %> Your Company's Name</p>
            </div>

            <% if (addOrChangeProperty === "change") { %>
            <div class="myAccount__defaultUnit">
                <p class="myAccount__subHeadline">Current Company Name:</p>
                <p class="myAccount__bodyTextLarge -marginBottomZero"><%= companyName %></p>
            </div>
            <% } %>

            <div class="internalContainer__paddingTwo32Four">

                <form action="/add-change-company-name" method="POST">

                    <input type="hidden" name="deleteProperty" value="false">

                    <div class="input__unit -marginBottomFour"> 
                        <label for="companyName" class="input__label"><% if (addOrChangeProperty === "change") { %>Updated <% } %>Company Name:</label>
                        <p class="myAccount__bodyTextSmall -marginBottomOne">Include your legal company name.</p>
                        <input id="companyName" class="input__field
                            <% if (typeof companyNameError != "undefined") { %>
                                -borderError
                            <% } %>
                            " name="companyName" <%= companyNameAttributes %> value="<%= userInput.companyName %>" autofocus>
                        <% if (typeof companyNameError != "undefined") { %>
                        <div class="input__error"><%= companyNameError %></div>
                        <% } %> 
                    </div>

                    <button class="button__narrowScreen"><% if (addOrChangeProperty === "change") { %>Save Change<% } else if (addOrChangeProperty === "add") { %>Add<% } %></button> 

                </form>

                <% if (addOrChangeProperty === "change") { %>
                <form action="/add-change-company-name" method="POST">
                    <div class="-marginBottomFour -rightAlign">
                        <button class="button__bodyTextMedium">Delete Your Company's Name</button>
                    </div>
                    <input type="hidden" name="companyName" value="">
                    <input type="hidden" name="deleteProperty" value="true">
                </form>
                <% } %>  

                <%- include('includes/back-to-my-account.ejs') %>

            </div>

        </div>

    </main>

    <%- include('includes/footer-standard.ejs') %>

</body>
</html>