<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= htmlTitle %></title>
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>

    <script defer src="js/character-blocker.js"></script>
    <script defer src="js/connect/company-website-character-blocker.js"></script>
</head>
<body>

    <%- include('includes/my-account-header.ejs') %>

    <main class="mainContainer__standard">

        <div class="internalContainer__narrowVanish">

            <div class="heading__container">
                <p class="heading__headline"><% if (addOrChangeProperty === "change") { %>Change <% } else if (addOrChangeProperty === "add") { %>Add <% } %> Your Company's Website Or Social Media Page</p>
            </div>

            <% if (addOrChangeProperty === "change") { %>
            <div class="myAccount__defaultUnit">
                <p class="myAccount__subHeadline">Current Company Website:</p>
                <p class="myAccount__bodyTextLarge -marginBottomZero"><%= companyWebsite %></p>
            </div>
            <% } %>

            <div class="internalContainer__paddingTwo32Four">

                <form action="/add-change-company-website" method="POST">

                    <input type="hidden" name="deleteProperty" value="false">

                    <div class="input__unit -marginBottomFour">
                        <label for="companyWebsite" class="input__label"><% if (addOrChangeProperty === "change") { %>Updated <% } %>Company Website:</label>
                        <p class="myAccount__bodyTextSmall -marginBottomOne">Add your company's website or main social media page that customers can find you at.</p>
                        <input id="companyWebsite" class="input__field
                            <% if (typeof companyWebsiteError != "undefined") { %>
                                -borderError
                            <% } %>
                            " name="companyWebsite" <%= companyWebsiteAttributes %> value="<%= userInput.companyWebsite %>" autofocus>
                        <% if (typeof companyWebsiteError != "undefined") { %>
                        <div class="input__error"><%- companyWebsiteError %></div>
                        <% } %> 
                    </div>

                    <button class="button__narrowScreen"><% if (addOrChangeProperty === "change") { %>Save Change<% } else if (addOrChangeProperty === "add") { %>Add<% } %></button>

                </form>
                
                <% if (addOrChangeProperty === "change") { %>
                <form action="/add-change-company-website" method="POST">
                    <div class="-marginBottomFour -rightAlign">
                        <button class="button__bodyTextMedium">Delete Your Company's Website</button>
                    </div>
                    <input type="hidden" name="companyWebsite" value="">
                    <input type="hidden" name="deleteProperty" value="true">
                </form>
                <% } %>  

                <%- include('includes/back-to-my-account.ejs') %>

            </div>

        </div>

    </main>

    <%- include('includes/footer-standard.ejs') %>

</body>
</html>