<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change Password</title>
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>

    <script defer src="js/password-toggle.js"></script>
    <script defer src="js/connect/change-password-password-toggle.js"></script>

    <script defer src="js/zxcvbn.js"></script>
    <script defer src="js/password-errors-match-meter.js"></script>
    <script defer src="js/connect/change-password-password-errors-match-meter.js"></script>

    <script>
        let patternChangedPassword = <%- patternChangedPassword %>;
    </script>
    <script defer src="js/character-blocker.js"></script>
    <script defer src="js/connect/change-password-character-blocker.js"></script>
    
</head>
<body>

    <%- include('includes/dashboard-header.ejs') %>

    <main>

        <div class="narrowWidthVanish -thinLineShadowBorder -topBottomMarginLarge">

            <p class="dashboard__headline">Change Password</p>

            <form action="/change-password" method="POST">

                <div class="input__unit -topBottomMarginLarge -rightLeftMarginMedium"> 
                    <label for="currentPassword" class="input__label">Current Password:</label>
                    <div id="targetCurrentPasswordContainer" class="password__container 
                        <% if (typeof currentPasswordError != "undefined") { %>
                            -errorBorder
                        <% } %>
                        ">
                        <input id="currentPassword" class="input__passwordField" name="currentPassword" <%= allPasswordsAttributes %> value="<%= userInput.currentPassword %>" autocomplete="new-password" autofocus>
                        <div class="password__toggle"><img id="currentPasswordEye" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                    </div>

                    <% if (typeof currentPasswordError != "undefined") { %>
                    <div id="targetCurrentPasswordError" class="input__error"><%= currentPasswordError %></div>
                    <% } %> 
                </div>

                <div class="input__unit -topBottomMarginLarge -rightLeftMarginMedium"> 
                    <label for="changedPassword" class="input__label">New Password:</label>
                    <div id="targetChangedPasswordContainer" class="password__container 
                        <% if (typeof changedPasswordError != "undefined") { %>
                            -errorBorder
                        <% } %>
                        ">
                        <input id="changedPassword" class="input__passwordField" name="changedPassword" <%= allPasswordsAttributes %> value="<%= userInput.changedPassword %>" autocomplete="new-password">
                        <div class="password__toggle"><img id="changedPasswordEye" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                    </div>

                    <div id="passwordMeterContainer">
                        <div id="passwordMeterBox1" class="passwordMeterBox"></div>
                        <div id="passwordMeterBox2" class="passwordMeterBox"></div>
                        <div id="passwordMeterBox3" class="passwordMeterBox"></div>
                        <div id="passwordMeterBox4" class="passwordMeterBox"></div>
                        <div id="passwordMeterBox5" class="passwordMeterBox"></div>
                        <div id="passwordMeterLabel"></div>
                    </div>

                    <% if (typeof changedPasswordError != "undefined") { %>
                    <div id="targetChangedPasswordError" class="input__error"><%= changedPasswordError %></div>
                    <% } %> 
                </div>

                <div class="input__unit -topBottomMarginLarge -rightLeftMarginMedium"> 
                    <label for="confirmationPassword" class="input__label">Confirm New Password:</label>
                    <div id="targetConfirmationPasswordContainer" class="password__container 
                        <% if (typeof confirmationPasswordError != "undefined") { %>
                            -errorBorder
                        <% } %>
                        ">
                        <input id="confirmationPassword" class="input__passwordField" name="confirmationPassword" <%= allPasswordsAttributes %> value="<%= userInput.confirmationPassword %>" autocomplete="new-password">
                        <div class="password__toggle"><img id="confirmationPasswordEye" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                    </div>

                    <div id="passwordMatchLabel"></div>

                    <% if (typeof confirmationPasswordError != "undefined") { %>
                    <div id="targetConfirmationPasswordError" class="input__error"><%= confirmationPasswordError %></div>
                    <% } %> 
                </div>

                <div class="-bottomMarginLarge -rightLeftMarginMedium">
                    <button id="narrowScreen__button">Save Change</button>
                </div>  

            </form>

            <%- include('includes/back-to-my-account.ejs') %>

        </div>

    </main>

    <%- include('includes/standard-screen-footer.ejs') %>

</body>
</html>