<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change Password</title>
    <%- include('includes/head_boilerplate.ejs') %>
    <%- include('includes/log_in_out_rollover.ejs') %>
    <script defer src="js/password_strength_match.js"></script>
    <script defer src="js/password_toggle.js"></script>
    <script defer src="js/zxcvbn.js"></script>
</head>
<body>

    <%- include('includes/dashboard_header.ejs') %>

    <main>

        <div class="narrowWidthVanish -thinLineShadowBorder -topBottomMarginLarge">

            <p class="dashboard__headline">Change Password</p>

            <form action="/change_password" method="POST">

                <div class="input__unit -topBottomMarginLarge -rightLeftMarginMedium"> 
                    <label for="passwordCurrent" id="targetPasswordCurrentLabel" class="input__label
                        <% if (typeof passwordCurrentErrorMessage != "undefined") { %>
                            -errorColor
                        <% } %> 
                        ">Current Password:</label>
                    <div id="targetPasswordCurrentContainer" class="password__container 
                        <% if (typeof passwordCurrentErrorMessage != "undefined") { %>
                            -errorBorder
                        <% } %>
                        ">
                        <input id="passwordCurrent" class="input__passwordField" name="passwordCurrent" <%= passwordAttributes %> value="<%= userInput.passwordCurrent %>" autocomplete="new-password" autofocus>
                        <div class="password__toggle"><img id="password__eyeCurrent" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                    </div>

                    <% if (typeof passwordCurrentErrorMessage != "undefined") { %>
                    <div id="targetPasswordCurrentErrorMessage" class="input__errorMessage"><%= passwordCurrentErrorMessage %></div>
                    <% } %> 
                </div>

                <div class="input__unit -topBottomMarginLarge -rightLeftMarginMedium"> 
                    <label for="password" id="targetPasswordLabel" class="input__label
                        <% if (typeof passwordErrorMessage != "undefined") { %>
                            -errorColor
                        <% } %> 
                        ">New Password:</label>
                    <div id="targetPasswordContainer" class="password__container 
                        <% if (typeof passwordErrorMessage != "undefined") { %>
                            -errorBorder
                        <% } %>
                        ">
                        <input id="password" class="input__passwordField" name="password" <%= passwordAttributes %> value="<%= userInput.password %>" autocomplete="new-password">
                        <div class="password__toggle"><img id="password__eye" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                    </div>

                    <div id="passwordMeterContainer">
                        <div id="passwordMeterBox1" class="passwordMeterBox"></div>
                        <div id="passwordMeterBox2" class="passwordMeterBox"></div>
                        <div id="passwordMeterBox3" class="passwordMeterBox"></div>
                        <div id="passwordMeterBox4" class="passwordMeterBox"></div>
                        <div id="passwordMeterBox5" class="passwordMeterBox"></div>
                        <div id="passwordMeterLabel"></div>
                    </div>

                    <% if (typeof passwordErrorMessage != "undefined") { %>
                    <div id="targetPasswordErrorMessage" class="input__errorMessage"><%= passwordErrorMessage %></div>
                    <% } %> 
                </div>

                <div class="input__unit -topBottomMarginLarge -rightLeftMarginMedium"> 
                    <label for="passwordConfirm" id="targetPasswordConfirmLabel" class="input__label
                        <% if (typeof passwordConfirmErrorMessage != "undefined") { %>
                            -errorColor
                        <% } %> 
                        ">Confirm Password:</label>
                    <div id="targetPasswordConfirmContainer" class="password__container 
                        <% if (typeof passwordConfirmErrorMessage != "undefined") { %>
                            -errorBorder
                        <% } %>
                        ">
                        <input id="passwordConfirm" class="input__passwordField" name="passwordConfirm" <%= passwordAttributes %> value="<%= userInput.passwordConfirm %>" autocomplete="new-password">
                        <div class="password__toggle"><img id="password__eyeConfirm" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                    </div>

                    <div id="passwordMatchLabel"></div>

                    <% if (typeof passwordConfirmErrorMessage != "undefined") { %>
                    <div id="targetPasswordConfirmErrorMessage" class="input__errorMessage"><%= passwordConfirmErrorMessage %></div>
                    <% } %> 
                </div>

                <div class="-bottomMarginLarge -rightLeftMarginMedium">
                    <button id="narrowScreen__button">Save Change</button>
                </div>  

            </form>

            <div class="-rightAlign -rightLeftMarginMedium -bottomMarginMedium"><a href="/dashboard"><div class="dashboard__fauxButton">< Back</div></a></div>

        </div>

    </main>

    <%- include('includes/standard_screen_footer.ejs') %>

</body>
</html>