<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change Email</title>
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>
    <script defer src="js/password-toggle.js"></script>
</head>
<body>

    <%- include('includes/dashboard-header.ejs') %>

    <main>

        <div class="narrowWidthVanish -thinLineShadowBorder -topBottomMarginLarge">

            <p class="dashboard__headline">Change Email</p>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Current Email Address:</p>
                    <p class="dashboard__value -rightLeftMarginMedium"><%= currentEmail %></p>
                </div>
            </div>

            <form action="/change-email" method="POST">
            
                <div class="input__unit -topBottomMarginMedium -rightLeftMarginMedium"> 
                    <label for="newEmail" id="targetEmailLabel" class="input__label
                        <% if (typeof newEmailError != "undefined") { %>
                            -errorColor
                        <% } %>   
                        ">New Email Address:</label>
                    <input id="newEmail" class="input__field
                        <% if (typeof newEmailError != "undefined") { %>
                            -errorBorder
                        <% } %>
                        " name="newEmail" <%= emailAttributes %> value="<%= userInput.email %>" autocomplete="new-password" autofocus>
                    <% if (typeof newEmailError != "undefined") { %>
                    <div id="targetEmailErrorMessage" class="input__errorMessage"><%= newEmailError %></div>
                    <% } %> 
                </div>

                <div class="input__unit -bottomMarginMedium -rightLeftMarginMedium"> 
                    <label for="emailConfirmation" id="targetEmailConfirmationLabel" class="input__label
                        <% if (typeof emailConfirmationError != "undefined") { %>
                            -errorColor
                        <% } %>   
                        ">Confirm New Email Address:</label>
                    <input id="emailConfirmation" class="input__field
                        <% if (typeof emailConfirmationError != "undefined") { %>
                            -errorBorder
                        <% } %>
                        " name="emailConfirmation" <%= emailAttributes %> value="<%= userInput.emailConfirmation %>" autocomplete="new-password">
                    <% if (typeof emailConfirmationError != "undefined") { %>
                    <div id="targetEmailConfirmationErrorMessage" class="input__errorMessage"><%= emailConfirmationError %></div>
                    <% } %> 
                </div>

                <div class="input__unit -bottomMarginLarge -rightLeftMarginMedium"> 
                    <label for="password" id="targetPasswordLabel" class="input__label
                        <% if (typeof passwordError != "undefined") { %>
                            -errorColor
                        <% } %> 
                        ">Password:</label>
                    <div id="targetPasswordContainer" class="password__container 
                        <% if (typeof passwordError != "undefined") { %>
                            -errorBorder
                        <% } %>
                        ">
                        <input id="password" class="input__passwordField" name="password" <%= passwordAttributes %> value="<%= userInput.password %>" autocomplete="new-password">
                        <div class="password__toggle"><img id="password__eye" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                    </div>

                    <% if (typeof passwordError != "undefined") { %>
                    <div id="targetPasswordErrorMessage" class="input__errorMessage"><%= passwordError %></div>
                    <% } %> 
                </div>

                <div class="-bottomMarginLarge -rightLeftMarginMedium">
                    <button id="narrowScreen__button">Save Change</button>
                </div>  

            </form>

            <%- include('includes/back-to-my-account.ejs') %>

        </div>

    </main>

    <%- include('includes/standard-screen-footer.ejs') %>

</body>
</html>