<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change Login Email</title>
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>

    <script defer src="js/password-toggle.js"></script>
    <script defer src="js/connect/change-email-password-toggle.js"></script>

    <script defer src="js/character-blocker.js"></script>
    <script defer src="js/connect/change-email-character-blocker.js"></script>
</head>
<body>

    <%- include('includes/my-account-header.ejs') %>

    <main class="mainContainer__standard">

        <div class="internalContainer__narrowVanish">

            <div class="heading__container">
                <p class="heading__headline">Change Your Login Email</p>
            </div>

            <div class="myAccount__defaultUnit">
                <p class="myAccount__subHeadline">Current Email Address:</p>
                <p class="myAccount__bodyTextLarge -marginBottomZero"><%= currentEmail %></p>
            </div>

            <div class="internalContainer__paddingTwo32Four">

                <form action="/change-email" method="POST">
                
                    <div class="input__unit -marginBottomFour"> 
                        <label for="changedEmail" id="targetChangedEmailLabel" class="input__label">New Email Address:</label>
                        <input id="changedEmail" class="input__field
                            <% if (typeof changedEmailError != "undefined") { %>
                                -borderError
                            <% } %>
                            " name="changedEmail" <%= emailAttributes %> value="<%= userInput.changedEmail %>" autocomplete="new-password" autofocus>
                            
                        <% if (typeof changedEmailError != "undefined") { %>
                        <div id="targetChangedEmailError" class="input__error"><%= changedEmailError %></div>
                        <% } %> 
                    </div>

                    <div class="input__unit -marginBottomFour">
                        <label for="confirmationEmail" id="targetConfirmationEmailLabel" class="input__label">Confirm New Email Address:</label>
                        <input id="confirmationEmail" class="input__field
                            <% if (typeof confirmationEmailError != "undefined") { %>
                                -borderError
                            <% } %>
                            " name="confirmationEmail" <%= emailAttributes %> value="<%= userInput.confirmationEmail %>" autocomplete="new-password">
                        <% if (typeof confirmationEmailError != "undefined") { %>
                        <div id="targetConfirmationEmailError" class="input__error"><%= confirmationEmailError %></div>
                        <% } %> 
                    </div>

                    <div class="input__unit -marginBottomFour">
                        <label for="currentPassword" id="targetPasswordLabel" class="input__label">Password:</label>
                        <div id="targetCurrentPasswordContainer" class="password__container 
                            <% if (typeof currentPasswordError != "undefined") { %>
                                -borderError
                            <% } %>
                            ">
                            <input id="currentPassword" class="input__passwordField" name="currentPassword" <%= passwordAttributes %> value="<%= userInput.currentPassword %>" autocomplete="new-password">
                            <div class="password__toggle"><img id="currentPasswordEye" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                        </div>

                        <% if (typeof currentPasswordError != "undefined") { %>
                        <div id="targetCurrentPasswordError" class="input__error"><%= currentPasswordError %></div>
                        <% } %> 
                    </div>

                    <button class="button__narrowScreen">Save Change</button> 

                </form>

            <%- include('includes/back-to-my-account.ejs') %>

            </div>

        </div>

    </main>

    <%- include('includes/footer-standard.ejs') %>

</body>
</html>