<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login To Your Account On Foreclosure Cleanup Account</title>
    <%- include('includes/head_boilerplate.ejs') %>

</head>
<body>

    <%- include('includes/narrowScreen_top_boilerplate.ejs') %>

                <h3 class="headlineLarge -centerText -bottomMarginMedium">Confirmation Resent</h3>
                <%- body %>
                <p class="textLarge -bottomMarginLarge">If you don't see it in your inbox please check your Promotions, Social or Junk folders.</p>
                <p class="textMedium -centerText -bottomMarginLarge"><a href="confirmation_resent?email=<%= email %>">Resend confirmation email</a>.</p>

    <%- include('includes/narrowScreen_bottom_boilerplate.ejs') %>

</body>
</html>