<!DOCTYPE html>
<html lang="en">
<head>
    <title>Confirmation Limit Reached</title>
    <%- include('includes/head-boilerplate.ejs') %>
</head>
<body>

    <%- include('includes/narrowScreen-top-boilerplate.ejs') %>

                <h3 class="narrowScreen__headline -bottomMarginMedium">Confirmation Limit Reached</h3>
                <%- body %>
                <p class="textLarge -bottomMarginMedium">If you don't see these emails in your main inbox please check your Promotions or Junk folders.</p>
                <p class="textLarge -bottomMarginLarge">If you cannot find a confirmation email please register again in <%= expirationTime %>.</p>

    <%- include('includes/narrowScreen-bottom-boilerplate.ejs') %>

</body>
</html>