<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <%- include('includes/head_boilerplate.ejs') %>
    <%- include('includes/log_in_out_rollover.ejs') %>
</head>
<body>

    <%- include('includes/dashboard_header.ejs') %>

    <main>

        <div class="standardWidthVanish -thinLineShadowBorder -topBottomMarginLarge">

            <p class="dashboard__headline">Business Information</p>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__name -rightLeftMarginMedium">Business Name:</p>
                    <p class="dashboard__value -rightLeftMarginMedium"><%= businessNameDashboardValue %></p>
                </div>
                <div>
                    <a href="/add_change_business_name">
                    <% if (isBusinessNameAdded === true) { %>
                        <div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div>
                    <% } else { %>
                        <div class="dashboard__fauxButtonAdd -rightLeftMarginMedium">Add</div>
                    <% } %>
                    </a>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__name -rightLeftMarginMedium">Business Phone:</p>
                    <p class="dashboard__value -rightLeftMarginMedium"><%= businessPhoneDashboardValue %></p>
                </div>
                <div>
                    <a href="/add_change_business_phone">
                        <% if (isBusinessPhoneAdded === true) { %>
                            <div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div>
                        <% } else { %>
                            <div class="dashboard__fauxButtonAdd -rightLeftMarginMedium">Add</div>
                        <% } %>
                    </a>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__name -rightLeftMarginMedium">Business Address:</p>
                    <% if (isBusinessAddressAdded) { %>
                        <p class="dashboard__value -rightLeftMarginMedium"><%= businessStreetDashboardValue %></p>
                        <p class="dashboard__value -rightLeftMarginMedium"><%= businessRegionDashboardValue %></p>
                    <% } else { %>
                    <p class="dashboard__value -rightLeftMarginMedium"><%= businessStreetDashboardValue %></p>
                    <% } %>
                </div>
                <div>
                    <a href="/add_change_business_address">
                    <% if (isBusinessAddressAdded) { %>
                        <div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div>
                    <% } else { %>
                        <div class="dashboard__fauxButtonAdd -rightLeftMarginMedium">Add</div>
                    <% } %>
                    </a>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__name -rightLeftMarginMedium">Services Offered:</p>
                    <p class="dashboard__value -rightLeftMarginMedium"><%= businessServicesDashboardValue %></p>
                </div>
                <div>
                    <% if (isBusinessServicesAdded === true) { %>
                        <a href="/add_change_business_services"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/add_change_business_services"><div class="dashboard__fauxButtonAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__name -rightLeftMarginMedium">About My Business:</p>
                    <p class="dashboard__value -rightLeftMarginMedium"><%= businessAboutDashboardValue %></p>
                </div>
                <div>
                    <% if (isBusinessAboutAdded === true) { %>
                        <a href="/change_about_my_business"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/change_about_my_business"><div class="dashboard__fauxButtonAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>

            <p class="dashboard__headline -topMarginHuge">Account Information</p>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__name -rightLeftMarginMedium">Email Address:</p>
                    <p class="dashboard__value -rightLeftMarginMedium"><%= email %></p>
                </div>
                <div>
                    <a href="/change_email"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__name -rightLeftMarginMedium">Password:</p>
                    <p class="dashboard__valueSmall -rightLeftMarginMedium">[Password not displayed for your security.]</p>
                </div>
                <div>
                    <a href="/change_password"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                </div>
            </div>

            <div class="textSmall -topBottomPaddingLarge -rightLeftMarginMedium -rightAlign"><a href="/delete_your_account">Delete your account.</a></div>

        </div>

    </main>

    <%- include('includes/standard_screen_footer.ejs') %>

</body>
</html>