<!DOCTYPE html>
<html lang="en">
<head>
    <title>dashboard</title>
    <%- include('includes/header_boilerplate.ejs') %>
</head>
<body>

    <header>
        <div class="rowTwo -standardWidth -rightLeftPadding">
            <%- include('includes/logo_top.ejs') %>
            <div class="rowTwo__text">
                <p class="rowTwo__headline">Dashboard</p>
                <p class="rowTwo__description">User dashboard for test account.</p>
                <p class="rowTwo__description"><a href="/logout">Logout.</a></p>
            </div>
        </div>
        <%- include('includes/navigation_top.ejs') %>
    </header>

    <main class="mainBlock -rightLeftPadding">

        <div class="mainBlock__externalBorder -standardWidth"><div class="mainBlock__internalBorder">

        <% if(accountChangeMessage) { %>
            <div class="
            <% if(accountChangeMessage === 'Change successful.') { %>
                dashboard__success
            <% } else if(accountChangeMessage === 'No change made.') { %>
                dashboard__noChange
            <% } %>
            "><%= accountChangeMessage %></div>
        <% } %>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__name -rightLeftMargin">Email Address:</p>
                    <p class="dashboard__value -rightLeftMargin"><%= email %></p>
                </div>
                <div>
                    <a href="/change_email"><div class="dashboard__fauxButton -rightLeftMargin">Change</div></a>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__name -rightLeftMargin">Name:</p>
                    <p class="dashboard__value -rightLeftMargin"><%= firstName %> <%= lastName %></p>
                </div>
                <div>
                    <a href="/change_your_name"><div class="dashboard__fauxButton -rightLeftMargin">Change</div></a>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__name -rightLeftMargin">Phone:</p>
                    <p class="dashboard__value -rightLeftMargin"><%= phone %></p>
                </div>
                <div>
                    <a href="/change_phone"><div class="dashboard__fauxButton -rightLeftMargin">Change</div></a>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__name -rightLeftMargin">Password:</p>
                    <p class="dashboard__valueSmall -rightLeftMargin">[Password not displayed for your security.]</p>
                </div>
                <div>
                    <a href="/change_password"><div class="dashboard__fauxButton -rightLeftMargin">Change</div></a>
                </div>
            </div>

            <div class="-topBottomPadding -rightLeftMargin -alignRight "><a href="/delete_your_account">Delete your account.</a></div>

        </div></div>

    </main>

</body>
</html>