<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delete Your Account</title>
    <%- include('includes/head-boilerplate.ejs') %>
</head>
<body>

    <%- include('includes/narrow-screen-top-boilerplate.ejs') %>

                <h3 class="headlineLarge">Delete Your Account</h3>
                <p class="font15 -marginBottomTwo">If you would like to delete your account fill in your password below and click "Delete Account"</p>

                <form action="/delete-your-account" method="POST">

                    <div class="input__unit -marginBottomFour"> 
                        <label for="currentPassword" class="input__label">Password:</label>
                        <div class="password__container 
                        <% if (typeof currentPasswordError != "undefined") { %>
                            -borderError
                        <% } %>
                        ">
                            <input id="currentPassword" class="input__passwordField" name="currentPassword" <%= passwordAttributes %>>
                            <div class="password__toggle"><img id="currentPasswordEye" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                        </div>
                        <% if (typeof currentPasswordError != "undefined") { %>
                        <div class="input__error"><%= currentPasswordError %></div>
                        <% } %> 
                    </div>

                    <button class="button__narrowScreen -marginBottomFour">Delete Account</button> 

                </form>

    <%- include('includes/narrow-screen-bottom-boilerplate.ejs') %>

</body>
</html>