<!DOCTYPE html>
<html lang="en">
<head>
    <title>Property Preservation &amp; Foreclosure Cleanup Vendor List</title>

    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>

    <% if (typeof searchOutput === 'undefined') { %>
    <script defer src="js/character-blocker.js"></script>
    <script defer src="js/connect/foreclosure-cleanup-vendor-list-character-blocker.js"></script>
    <script defer src="js/scroll-to-search-error.js"></script>
    <script defer src="js/remove-search-errors.js"></script>
    <% } %>

    <% if (typeof searchOutput !== 'undefined') { %>
    <script defer src="js/check-add-bottom-searchagain.js"></script>
    <% } %>
    
</head>
<body>

    <%- include('includes/thin-header-boilerplate.ejs') %>

    <main class="mainContainer__standard">

        <div class="internalContainer__standard">
        
            <div class="heading__container -marginBottomFour">
                <%- include('includes/search-again-hidden-form.ejs') %>
            </div>
        
            <% if (typeof searchOutput === 'undefined') { %>
                <div class="centered__narrow">

                    <form action="/foreclosure-cleanup-vendor-list" method="POST">
                        <div id="searchZipCodeContainer" class="input__borderContainer
                            <% if (typeof searchZipCodeError === "undefined") { %>
                                    -borderClear -marginBottomFour
                            <% } else { %>
                                    -borderError
                            <% } %>
                            ">
                            <div class="vendorList__searchUnit">
                                <p class="-inlineBlock
                                    <% if (typeof searchZipCodeError === "undefined") { %>
                                        vendorList__searchLabel
                                    <% } else { %>
                                        vendorList__searchLabelError
                                    <% } %>
                                    " for="searchZipCode">Zip Code Of Project:</p>
                                <input id="searchZipCode" class="vendorList__inputText" <%= searchZipAttributes %> value="<%= searchZipCode %>"> 
                            </div>
                        </div>
                    <% if (typeof searchZipCodeError !== "undefined") { %>
                        <p id="searchZipCodeError" class="vendorList__error"><%= searchZipCodeError %></p>
                    <% } %> 

                        <div id="searchRadiusContainer" class="input__borderContainer
                            <% if (typeof searchRadiusError === "undefined") { %>
                                    -borderClear -marginBottomFour
                            <% } else { %>
                                    -borderError
                            <% } %>
                            ">                        
                            <div class="vendorList__searchUnit">
                                <p class="
                                    <% if (typeof searchRadiusError === "undefined") { %>
                                        vendorList__searchLabel
                                    <% } else { %>
                                        vendorList__searchLabelError
                                    <% } %>
                                    ">Search For Providers Inside This Radius:</p>
                                <div class="checkRadio__internal">

                                <% for(const key in searchRadiusAttributesAndValue) { %>

                                    <div class="-marginBottomOne">
                                        <input type="radio" id="miles<%= searchRadiusAttributesAndValue[key].radius %>" name="searchRadius"
                                            value="<%= searchRadiusAttributesAndValue[key].radius %>" <%= searchRadiusAttributesAndValue[key].isChecked %>>
                                        <label class="checkRadio__label" for="miles<%= searchRadiusAttributesAndValue[key].radius %>"><%= searchRadiusAttributesAndValue[key].label %></label>
                                    </div>

                                <% } %>

                                </div>
                            </div>
                        </div>

                        <% if (typeof searchRadiusError !== "undefined") { %>
                            <p id="searchRadiusError" class="vendorList__error"><%= searchRadiusError %></p>
                        <% } %> 

                        <div id="searchServicesContainer" class="input__borderContainer
                            <% if (typeof searchServicesError === "undefined") { %>
                                    -borderClear -marginBottomFour
                            <% } else { %>
                                    -borderError
                            <% } %>
                            ">   
                            <div class="vendorList__searchUnit">
                                <p class="
                                    <% if (typeof searchServicesError === "undefined") { %>
                                        vendorList__searchLabel
                                    <% } else { %>
                                        vendorList__searchLabelError
                                    <% } %>
                                    ">What Services Do You Need?</p>
                                <div class="checkRadio__internal">

                                <% for (const key in servicesAttributesAndValues) { %>

                                    <div class="-marginBottomOne">
                                        <input type="checkbox" id="<%= servicesAttributesAndValues[key].name %>" name="<%= servicesAttributesAndValues[key].name %>" value="true"
                                            <%= servicesAttributesAndValues[key].isChecked %>>
                                        <label for="<%= servicesAttributesAndValues[key].name %>" class="checkRadio__label"><%- servicesAttributesAndValues[key].label %></label>
                                    </div>

                                <% } %>

                                </div>
                            </div>
                        </div>

                        <% if (typeof searchServicesError !== "undefined") { %>
                            <p id="searchServicesError" class="vendorList__error -marginBottomFour"><%= searchServicesError %></p>
                        <% } %> 

                        <%- include('includes/privacy-terms.ejs', { buttonTitle : 'Search' }) %>

                        <input type="hidden" name="searchType" value="new">
                        <button class="button__narrowScreen -marginBottomFour">Search</button>

                    </form>

                </div>
            <% } %>

            <% if (typeof searchOutput !== 'undefined') { %>

            <div id="searchResultsRoot" class="centered__standard">  

                <% if (searchOutput.premium === true) { %>

                    <% for (const value of premiumAccountsProcessed) { %>
                        <div class="vendorList__premium">
                            <div class="vendorList__premium__headlineContainer">
                                <p class="vendorList__searchResult__headline">
                                    <% if (value.companyWebsite !== '' ) { %>
                                        <a href="<%= value.companyWebsiteProcessed %>" rel="nofollow"><%= value.companyName %></a>
                                    <% } else { %>
                                        <%= value.companyName %>
                                    <% } %>
                                </p>
                            </div>

                            <div class="
                                <% if (value.companyDescription !== '' ) { %>
                                    vendorList__premium__logoContactServicesContainer
                                <% } else { %>
                                    vendorList__premium__logoContactServicesContainerNoCompanyDescription
                                <% } %>
                            ">  
                            <% if (value.companyLogo.fileName !== '' ) { %>
                                <div class="vendorList__premium__logoContainer">
                                <% if (value.companyWebsite !== '' ) { %>
                                    <a href="<%= value.companyWebsiteProcessed %>" rel="nofollow">
                                <% } %>
                                    <img src="<%= companyLogoPath %><%= value.companyLogo.fileName %>" width="<%= value.companyLogo.width %>" height="<%= value.companyLogo.height %>">
                                <% if (value.companyWebsite !== '' ) { %>
                                    </a>
                                <% } %>
                                </div>
                            <% } %>
                                <div class="vendorList__premium__contactServicesContainer">
                                    <div class="vendorList__searchResult__container -vendorList__bottomBorder">
                                        <p class="vendorList__searchResult__heading">Contact:</p>
                                    <% if (value.companyWebsite !== '' ) { %>
                                        <p class="vendorList__searchResult__bodyText"><a href="<%= value.companyWebsiteProcessed %>" rel="nofollow"><%= value.companyWebsite %></a></p>
                                    <% } %>
                                        <p class="vendorList__searchResult__bodyTextTelephone"><a href="tel:<%= value.formattedPhone %>"><%= value.companyPhone %></a></p>
                                        <p class="vendorList__searchResult__bodyText"><a href="https://maps.google.com/?q=<%= value.companyStreet %>+<% if (value.companyStreetTwo !== '') { %><%= value.companyTwo %>+<% } %><%= value.companyCity %>+<%= value.companyState %>+<%= value.companyZip %>" target="_blank"><%= value.companyStreet %>, <% if (value.companyStreetTwo !== '') { %><%= value.companyStreetTwo %>, <% } %><%= value.companyCity %> <%= value.companyState %>, <%= value.companyZip %></a></p>
                                    </div>
                                    <div class="vendorList__searchResult__container">                                    
                                        <p class="vendorList__searchResult__heading">Services We Offer:</p>
                                        <p class="vendorList__searchResult__bodyText"><%- value.companyServicesAssembled %></p>
                                    </div>
                                </div>

                            </div>

                        <% if (value.companyDescription !== '' ) { %>

                            <div class="vendorList__searchResult__container">
                                <p class="vendorList__searchResult__heading">About Us:</p>
                                <p class="vendorList__searchResult__bodyText"><%- value.companyDescription %></p>
                            </div>

                        <% } %>

                        </div>
                    <% } %>

                <% } %>

                <% if (searchOutput.free === true) { %>

                    <% for (const value of freeAccountsProcessed) { %>
                        <div class="vendorList__free">
                            <div class="vendorList__free__headlineContainer">
                                <p class="vendorList__searchResult__headline"><%= value.companyName %></p>
                            </div>
                            <div class="vendorList__searchResult__container -vendorList__bottomBorder">
                                <p class="vendorList__searchResult__heading">Contact:</p>
                                <p class="vendorList__searchResult__bodyTextTelephone"><a href="tel:<%= value.formattedPhone %>"><%= value.companyPhone %></a></p>
                            
                                <p class="vendorList__searchResult__bodyText"><a href="https://maps.google.com/?q=<%= value.companyStreet %>+<% if (value.companyStreetTwo !== '') { %><%= value.companyStreetTwo %>+<% } %><%= value.companyCity %>+<%= value.companyState %>+<%= value.companyZip %>" target="_blank"><%= value.companyStreet %>, <% if (value.companyStreetTwo !== '') { %><%= value.companyStreetTwo %>, <% } %><%= value.companyCity %> <%= value.companyState %>, <%= value.companyZip %></a></p>
                            </div>
                            <div class="vendorList__searchResult__container">
                                <p class="vendorList__searchResult__heading">Services We Offer:</p>
                                <p class="vendorList__searchResult__bodyText"><%- value.companyServicesAssembled %></p>
                            </div>
                        </div>
                        
                    <% } %>

                <% } %>

                <% if (searchOutput.premium === false && searchOutput.free === false) { %>

                    <div class="vendorList__noneFound">
                        <div class="vendorList__noneFound__headlineContainer">
                            <p class="vendorList__searchResult__headline -centerAlign">No Vendors Found</p>
                        </div>
                        <p class="vendorList__noneFound__text"> We are sorry but a service provider located within <span class="-noWrap"><%= searchRadius %> miles</span> of <span class="-noWrap">zip code <%= searchZipCode %></span> that matched your search criteria was not found in the National Vendor List.  You may want to modify your search parameters and try again.  Thank you.</p>
                    </div>

                <% } %>

            </div>

            <% if (typeof searchOutput !== 'undefined') { %>
                <div id="bottomSearchAgain">
                    <div class="heading__container">
                        <%- include('includes/search-again-hidden-form.ejs') %>
                    </div>
                </div>
            <% } %>

            <% } %>

        </div>

    </main>

    <%- include('includes/footer-standard.ejs') %>

</body>
</html>