<!DOCTYPE html>
<html lang="en">
<head>
    <title>Property Preservation &amp; Foreclosure Cleanup Vendor List</title>
    <%- include('includes/header_boilerplate.ejs') %>
    <%# <script defer src="js/screen-width.js"></script> %>
</head>
<body>

    <header>
        <div class="rowOne -rightLeftPadding">
            <div class="rowOne__internal -standardWidth">
                <h1 class="rowOne__left --font125">Property Preservation &amp; Foreclosure Cleanup Vendor List</h1>
                <%- include('includes/row_one_right.ejs') %>
            </div>
        </div>
        <%- include('includes/logo_top.ejs') %>
        <%- include('includes/navigation_top.ejs') %>
    </header>

    <main>

        <div class="-topBottomPaddingLarge">



        </div>

    </main>

    <%- include('includes/footer.ejs') %>

</body>
</html>