<!DOCTYPE html>
<html lang="en">
<head>
    <title>Foreclosure Cleanup.org</title>
    <%- include('includes/header_boilerplate.ejs') %>
    <script defer src="js/screen-width.js"></script>
</head>

<body>

    <header>
        <div class="rowOne -rightLeftPadding">
            <div class="rowOne__internal -standardWidth">
                <h1 class="rowOne__left --font125">Foreclosure Cleanup.org</h1>
                <%- include('includes/row_one_right.ejs') %>
            </div>
        </div>
        <%- include('includes/logo_top.ejs') %>
        <%- include('includes/navigation_top.ejs') %>
    </header>

    <main class="-topBottomPaddingLarge">

        <div class="panel__container -standardWidth">
        
            <div class="panel -topBottomMargin -rightLeftMargin">
                <p class="panel__headline"><a href="/foreclosure_cleanup_vendor_list">FIND A SERVICE PROVIDER</a></p>
                <a href="/foreclosure_cleanup_vendor_list"><div class="panel__image -panelSearch"></div></a>
                <p class="panel__text"><a href="/foreclosure_cleanup_vendor_list">Property Preservation service providers include trash-out, locksmith, pool, landscaping, handyman, painting, flooring, contractor, carpenter, electrical, HVAC & plumbing services.</a></p>
            </div>
            
            <div class="panel -topBottomMargin -rightLeftMargin">
                <p class="panel__headline"><a href="/register">REGISTER YOUR COMPANY</a></p>
                <a href="/register"><div class="panel__image -panelRegister"></div></a>
                <p class="panel__text"><a href="/register">Register your Preservation or Foreclosure Service Provider Company on the National Vendor List.</a></p>
            </div>
            
        </div>

    </main>

    <%- include('includes/footer.ejs') %>

</body>
</html>