<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log In To Your Account On Foreclosure Cleanup Account</title>
    <%- include('includes/head-boilerplate.ejs') %>
    <script defer src="js/password-toggle.js"></script>
    <script defer src="js/screen-width.js"></script>
</head>
<body>

    <%- include('includes/narrowScreen-top-boilerplate.ejs') %>

                <h3 class="headlineLarge -centerAlign -bottomMarginMedium">Log In To Your Account</h3>

                <p class="textSmall -centerAlign -bottomMarginMedium">Need to register an account? Click <a href="/register" class="tertiaryLink">here</a>.</p>

                    <form action="/login" method="POST">

                        <div class="input__unit -bottomMarginMedium"> 
                            <label for="email" class="input__label
                                <% if (typeof emailError != "undefined") { %>
                                    -errorColor
                                <% } %>               
                                ">Email Address:</label>
                            <input id="email" class="input__field
                                <% if (typeof emailError != "undefined") { %>
                                    -errorBorder
                                <% } %>
                                    " name="email" <%= emailAttributes %> value="<%= userInput.email %>" autofocus>
                            <% if (typeof emailError != "undefined") { %>
                            <div class="input__errorMessage"><%= emailError %></div>
                            <% } %> 
                        </div>

                        <div class="input__unit -bottomMarginLarge"> 
                            <label for="password" class="input__label
                                <% if (typeof passwordError != "undefined") { %>
                                    -errorColor
                                <% } %>               
                                ">Password:</label>
                            <div class="password__container 
                            <% if (typeof passwordError != "undefined") { %>
                                -errorBorder
                            <% } %>
                            ">
                                <input id="password" class="input__passwordField" name="password" <%= passwordAttributes %>>
                                <div class="password__toggle"><img id="password__eye" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                            </div>
                            <% if (typeof passwordError != "undefined") { %>
                            <div class="input__errorMessage"><%= passwordError %></div>
                            <% } %> 
                        </div>

                        <div class="-bottomMarginLarge">
                            <button id="narrowScreen__button">Log In</button>
                        </div>  

                    </form> 

                <p class="textMedium -centerAlign -bottomMarginLarge"><a href="/password-reset-request">I forgot my password</a>.</p>

    <%- include('includes/narrowScreen-bottom-boilerplate.ejs') %>

</body>
</html>