<!DOCTYPE html>
<html lang="en">
<head>

    <title>My Account</title>

    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>

    <!-- <script defer src="js/reload-if-back-forward.js"></script> -->
    <script defer src="js/message-x-close-button.js"></script>
    <script defer src="js/enable-success-cancel-bar.js"></script>

    <%# If there is a urlNotActiveMessage start client at the company-website location. %>
    <% if (shouldBrowserFocusOnURLNotActiveError === true) { %>
        <script defer src="js/start-at-url-not-active-message.js"></script>
    <% } %>

    <% if (areAccountUpgradesExtendsAvailable === true) { %>
        <script defer src="https://js.stripe.com/v3/"></script>
        <% if (projectStatus === 'production') { %>
            <script defer src="js/checkout.js"></script>
        <% } else { %>
            <script defer src="js/checkout-test.js"></script>
        <% } %>
    <% } %>

</head>
<body>
    
    <% if (typeof failMessage === 'string' || typeof noChangeMessage === 'string' || typeof successMessage === 'string') { %>
        <div id="messageContainer" class="
            <% if (typeof successMessage === 'string') { %> 
                myAccount__successBar
            <% } else if (typeof noChangeMessage === 'string') { %>
                myAccount__noChangeBar
            <% } else { %>
                myAccount__cancelBar
            <% } %>
        ">
            <%# This empty div is used for centering %>
            <div class="myAccount__xClose"></div>
            <div class="myAccount__barInternal">
                <p class="font15 -centerAlign">
                    <% if (typeof successMessage === 'string') { %> 
                        <%- successMessage %>
                    <% } else if (typeof noChangeMessage === 'string') { %>
                        <%- noChangeMessage %>
                    <% } else { %>
                        <%- failMessage %>
                    <% } %>
                </p>
            </div>
            <div id="xButtonContainer" class="myAccount__xClose"></div>
        </div>
    <% } %>    

    <%- include('includes/my-account-header.ejs') %>

    <main class="mainContainer__standard">

        <div class="internalContainer__standard">

            <div class="heading__container">
                <p class="heading__headline">My Account</p>
            </div>

            <div class="myAccount__defaultUnit">
                <p class="myAccount__subHeadline">Company Profile Type:</p>
                <p class="myAccount__bodyTextLarge -greenColor -bold -marginBottomHalf"><%= companyProfileType %></p>
            <% if (isAccountUpgraded === false) { %>
                <p class="myAccount__bodyTextSmall">
                    <a href="upgrade-premium"><%= upgradeCheckItOut %></a>
                </p>
                <p class="myAccount__bodyTextSmall -marginBottomTwo"><%= upgradeSalesPitch %></p>
            <% } else if (isAccountUpgraded === true) { %>

                <% if (isUpgradeExpirationSoon === true) { %>
                <p class="myAccount__bodyTextLarge -errorColor">Your <%= companyProfileType %> will expire <%= numberOfDaysUntilExpirationFragment %></span>.</p>
                <% } %>
                
                <div class="-marginBottomTwo">
                    <% if (areAccountUpgradesExtendsAvailable === true) { %>
                    <button id="checkout-button" class="button__bodyTextSmall">
                    <% if (isUpgradeExpirationSoon === true) { %>
                        Renew 
                    <% } else if (isUpgradeExpirationSoon === false) { %>
                        Extend 
                    <% } %>
                        your <%= companyProfileType %> 
                    </button>
                    <p class="myAccount__bodyTextSmall -inlineBlock -marginBottomZero">
                    <% if (isUpgradeExpirationSoon === true) { %>
                        and extend it for an additional year for just <%= costInDollarsProduct_1 %>.
                    <% } else if (isUpgradeExpirationSoon === false) { %>
                        for an additional year for just <%= costInDollarsProduct_1 %>.
                    <% } %>
                    </p>
                    <% } else if (areAccountUpgradesExtendsAvailable === false) { %>
                    <p class="myAccount__bodyTextSmall"><span class="-greenColor -bold">Great!</span> Your <%= companyProfileType %> account duration is maxed out at 2 years or more. No renewals or extensions are available or needed at this time.</p>
                    <% } %>
                </div>

                <p class="myAccount__subHeadline"><%= companyProfileType %> Active Until:</p>
                <p class="myAccount__bodyTextLarge"><%= premiumExpirationDate %></p>
                
            <% } %>

                <p class="myAccount__subHeadline">Member Since:</p>
                <p class="myAccount__bodyTextLarge -marginBottomZero"><%= memberSince %></p>
            </div>

            <div class="myAccount__defaultUnit -marginBottomSix">
                <p class="myAccount__subHeadline">Vendor List Status:</p>
                <p class="myAccount__bodyTextLarge -bold -marginBottomHalf
                    <% if (isAccountLive === true) { %>
                        -greenColor
                    <% } else { %>
                        -orangeColor
                    <% } %>
                "><%= companyProfileType %> 
                    <% if (isAccountLive === false) { %>
                        Not 
                    <% } %>
                Live</p>
                <% if (isAccountLive === true) { %>
                <p class="myAccount__bodyTextSmall -marginBottomZero">Your company's <%= companyProfileType %> is live and can show up in search results on the <a href="/foreclosure-cleanup-vendor-list">National Vendor List</a>.</p>
                <% } else { %>
                <p class="myAccount__bodyTextSmall">Your company's <%= companyProfileType %> is not complete and will not show up in search results on the <a href="/foreclosure-cleanup-vendor-list">National Vendor List</a>.</p>
                <p class="myAccount__bodyTextSmall
                    <% if (isAccountUpgraded === false) { %>
                        -marginBottomZero
                    <% } %>
                ">Please add your company's <%- companyPropertiesUnfilled %> to make your <%= companyProfileType %> live.</p>
                    <% if (isAccountUpgraded === true) { %>
                <p class="myAccount__bodyTextSmall -marginBottomZero">Your company's <a href="add-change-company-website">website</a>, <a href="add-change-company-description">description</a> and <a href="add-change-company-logo">logo</a> are not required to make a <%= companyProfileType %> live.</p>
                    <% } %>
                <% } %>
            </div>

            <div class="
                <% if (isAccountUpgraded === true) { %>
                    heading__containerPremium
                <% } else { %>
                    heading__container
                <% } %>
            ">
                <p class="
                    <% if (isAccountUpgraded === true) { %>
                    heading__headlinePremium
                <% } else { %>
                    heading__headline
                <% } %>
                "><%= companyProfileType %> Vendor Information</p>
            </div>

            <%- include('includes/my-account-add-change.ejs', { unitKey: 'Company Name', unitValue: companyNameMyAccountValue, link: '/add-change-company-name', isKeyAdded: isCompanyNameAdded, isUpgradeProperty: false }); %>
            <%- include('includes/my-account-add-change.ejs', { unitKey: 'Company Phone', unitValue: companyPhoneMyAccountValue, link: '/add-change-company-phone', isKeyAdded: isCompanyPhoneAdded, isUpgradeProperty: false }); %>
            <%- include('includes/my-account-add-change.ejs', { unitKey: 'Company Address', unitValue: companyAddressMyAccountValue, link: '/add-change-company-address', isKeyAdded: isCompanyAddressAdded, isUpgradeProperty: false }); %>
            <%- include('includes/my-account-add-change.ejs', { unitKey: 'Services Offered', unitValue: companyServicesMyAccountValue, link: '/add-change-company-services', isKeyAdded: isCompanyServicesAdded, isUpgradeProperty: false }); %>

        <% if (isAccountUpgraded === true) { %>
            <a id="company-website"></a>
            <div class="myAccount__flexUnit
            <% if (shouldBrowserFocusOnURLNotActiveError === true) { %>
                myAccount__errorBorder
            <% } %>
            ">
                <div>
                    <p class="myAccount__subHeadlineUpgrade">Website Or Social Media Page:</p>
                    <p class="myAccount__bodyTextLargeFlex
                    <% if (shouldBrowserFocusOnURLNotActiveError === true) { %>
                        -errorColor
                    <% } else { %>
                        -blueColor
                    <% } %>
                    "><%= companyWebsiteMyAccountValue %></p>
                    <% if (shouldBrowserFocusOnURLNotActiveError === true) { %>
                    <p class="myAccount__error"><%= urlNotActiveMessage %></p>
                    <% } %>
                </div>
                <%- include('includes/my-account-add-change-button.ejs', { link: '/add-change-company-website', isKeyAdded: isCompanyWebsiteAdded, isUpgradeProperty: true }); %>
            </div>

            <%- include('includes/my-account-add-change.ejs', { unitKey: 'Company Description', unitValue: companyDescriptionMyAccountValue, link: '/add-change-company-description', isKeyAdded: isCompanyDescriptionAdded, isUpgradeProperty: true }); %>

            <div class="myAccount__flexUnit">
                <div>
                    <p class="myAccount__subHeadlineUpgrade">Company Logo Or Image:</p>
                    <% if (isCompanyLogoAdded === true) { %>
                    <div class="myAccount__vendorLogo"><img src="<%= companyLogoPath %><%= companyLogoMyAccountValue %>" width="<%= companyLogoWidth %>" height="<%= companyLogoHeight %>"></div>
                    <% } else { %>
                    <p class="myAccount__bodyTextLargeFlexUpgrade"><%= companyLogoMyAccountValue %></p>
                    <% } %>
                </div>
                <%- include('includes/my-account-add-change-button.ejs', { link: '/add-change-company-logo', isKeyAdded: isCompanyLogoAdded, isUpgradeProperty: true }); %>
            </div>

        <% } %>

        <% if (isAccountUpgraded === false) { %>

            <div class="heading__containerPremium">
                <p class="heading__headlinePremium -seeThrough"><%= upgradedProfileName %> Vendor Information</p>
            </div>

            <div class="myAccount__defaultUnit">                
                <p class="myAccount__bodyTextSmall">
                    <a href="upgrade-premium"><%= upgradeCheckItOut %></a>
                </p>
                <p class="myAccount__bodyTextSmall -marginBottomZero"><%= upgradeSalesPitch %></p>
            </div>

            <%- include('includes/my-account-blue-covered-links.ejs', { upgradeRequired, headline: 'Website Or Social Media Page' }) %>
            <%- include('includes/my-account-blue-covered-links.ejs', { upgradeRequired, headline: 'Company Description' }) %>
            <%- include('includes/my-account-blue-covered-links.ejs', { upgradeRequired, headline: 'Company Logo Or Image' }) %>

        <% } %>

            <div class="heading__container">
                <p class="heading__headline">Login</p>
            </div>

            <%- include('includes/my-account-add-change.ejs', { unitKey: 'Email Address', unitValue: email, link: '/change-email', isKeyAdded: true, isUpgradeProperty: false }); %>
            <%- include('includes/my-account-add-change.ejs', { unitKey: 'Password', unitValue: '[Password not displayed for your security.]', link: '/change-password', isKeyAdded: true, isUpgradeProperty: false }); %>

            <div class="myAccount__deleteAccountUnit"><a href="/delete-your-account">Delete your account.</a></div>

        </div>

    </main>

    <%- include('includes/footer-standard.ejs') %>

</body>
</html>