<!DOCTYPE html>
<html lang="en">
<head>

    <title>My Account</title>

    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>

    <script defer src="js/message-x-close-button.js"></script>
    <script defer src="js/enable-success-cancel-bar.js"></script>

    <%# If there is a urlNotActiveMessage start client at the company-website location. %>
    <% if (shouldBrowserFocusOnURLNotActiveError === true) { %>
        <script defer src="js/start-at-url-not-active-message.js"></script>
    <% } %>

    <% if (arePremiumAccountExtendsAvailable === true) { %>
        <script defer src="https://js.stripe.com/v3/"></script>
        <script defer src="js/checkout.js"></script>
    <% } %>

</head>
<body>
    
    <% if (typeof failMessage === 'string' || typeof noChangeMessage === 'string' || typeof successMessage === 'string') { %>
        <script>
            window.addEventListener('DOMContentLoaded', function() {
                document.getElementById('messageContainer').style.display = 'flex';
            });
        </script>
        <div id="messageContainer"
            <% if (typeof successMessage === 'string') { %> 
                class="successBar"
            <% } else if (typeof noChangeMessage === 'string') { %>
                class="noChangeBar"
            <% } else { %>
                class="cancelBar"
            <% } %>
        >
            <%# This empty div is used for centering %>
            <div class="xClose"></div>
            <div class="-standardWidthVanish">
                <p class="textLarge -centerAlign">
                    <% if (typeof successMessage === 'string') { %> 
                        <%- successMessage %>
                    <% } else if (typeof noChangeMessage === 'string') { %>
                        <%- noChangeMessage %>
                    <% } else { %>
                        <%- failMessage %>
                    <% } %>
                </p>
            </div>
            <div id="xButtonContainer" class="xClose"></div>
        </div>
    <% } %>    

    <%- include('includes/dashboard-header.ejs') %>

    <main>
        
        <div class="-standardWidthVanish -thinLineShadowBorder -topBottomMarginLarge">

            <p class="dashboard__headline">My Account</p>
            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Company Profile Type:</p>
                    <p class="textLarge -bottomMarginMedium -rightLeftMarginMedium"><%= companyProfileType %></p>
                <% if (isAccountUpgraded === false) { %>
                    <p class="textSmall -bottomMarginTiny -rightLeftMarginMedium">
                        <a href="upgrade-extend-premium"><%= upgradeCheckItOut %></a>
                    </p>
                    <p class="textSmall -bottomMarginMedium -rightLeftMarginMedium"><%= upgradeSalesPitch %></p>
                <% } else if (isAccountUpgraded === true) { %>

                    <% if (isUpgradeExpirationSoon === true) { %>
                    <p class="textLarge -errorColor -topMarginMedium -rightLeftMarginMedium -bottomMarginMedium">Your <%= companyProfileType %> will expire <%= numberOfDaysUntilExpirationFragment %></span>.</p>
                    <% } %>
                    
                <% if (arePremiumAccountExtendsAvailable === true && isUpgradeExpirationSoon === true) { %>
                    <div class="-rightLeftMarginMedium -topMarginMedium -bottomMarginMedium">
                        <button id="checkout-button" class="button_fauxLinkSmall">Renew your <%= companyProfileType %> </button>
                        <p class="textSmall -inlineBlock">for another 12 months for just <%= costInDollarsProduct_1 %>.</p>
                    </div>
                <% } else if (arePremiumAccountExtendsAvailable === true && isUpgradeExpirationSoon === false) { %>
                    <div class="-rightLeftMarginMedium -topMarginMedium -bottomMarginMedium">
                        <button id="checkout-button" class="button_fauxLinkSmall">Extend your <%= companyProfileType %> </button>
                        <p class="textSmall -inlineBlock">for an additional 12 months for just <%= costInDollarsProduct_1 %>.</p>
                    </div>
                <% } else { %>
                    <p class="textSmall -rightLeftMarginMedium -greenColor -topBottomMarginMedium">Great! Your <%= companyProfileType %> account duration is maxed out at 2 years or more. No renewals or extensions are available or needed at this time.</p>
                <% } %>

                    <p class="dashboard__key -rightLeftMarginMedium"><%= companyProfileType %> Active Until:</p>
                    <p class="textLarge -rightLeftMarginMedium -bottomMarginMedium"><%= premiumExpirationDate %></p>
                    
                <% } %>
                    <p class="dashboard__key -rightLeftMarginMedium">Member Since:</p>
                    <p class="textLarge -rightLeftMarginMedium"><%= memberSince %></p>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder -bottomMarginHuge">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Vendor List Status:</p>
                    <% if (isAccountLive === true) { %>
                        <p class="textLarge -rightLeftMarginMedium -liveText">Your Company Profile Is Live.</p>
                    <% } else { %>
                        <p class="textLarge -rightLeftMarginMedium -bottomMarginSmall -inactiveText">Your Company Profile Is Not Live.</p>
                        <p class="textSmall -rightLeftMarginMedium">Please add your company's <%- companyPropertiesUnfilled %> to make your company profile live.</p>
                    <% } %>
                </div>
            </div>

            <p <% if (isAccountUpgraded === false) { %>
                class="dashboard__headline"
            <% } else if (isAccountUpgraded === true) { %>
                class="dashboard__headlinePremium"
            <% } %>
                ><%= companyProfileType %> Vendor Information</p>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Company Name:</p>
                    <p class="textLarge -rightLeftMarginMedium"><%= companyNameMyAccountValue %></p>
                </div>
                <div class="-leftMarginLargeVanish">
                    <% if (isCompanyNameAdded === true) { %>
                        <a href="/add-change-company-name"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/add-change-company-name"><div class="dashboard__fauxButtonAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Company Phone:</p>
                    <p class="textLarge -rightLeftMarginMedium"><%= companyPhoneMyAccountValue %></p>
                </div>
                <div class="-leftMarginLargeVanish">
                    <% if (isCompanyPhoneAdded === true) { %>
                        <a href="/add-change-company-phone"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/add-change-company-phone"><div class="dashboard__fauxButtonAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Company Address:</p>
                    <% if (isCompanyAddressAdded === true) { %>
                        <p class="textLarge -rightLeftMarginMedium"><%= companyStreetMyAccountValue %></p>
                        <% if (typeof companyStreetTwoMyAccountValue === 'string') { %>
                            <p class="textLarge -rightLeftMarginMedium"><%= companyStreetTwoMyAccountValue %></p>
                        <% } %>
                        <p class="textLarge -rightLeftMarginMedium"><%= companyCityMyAccountValue %>, <%= companyStateMyAccountValue %> <%= companyZipMyAccountValue %></p>
                    <% } else { %>
                    <p class="textLarge -rightLeftMarginMedium"><%= companyStreetMyAccountValue %></p>
                    <% } %>
                </div>
                <div class="-leftMarginLargeVanish">
                    <% if (isCompanyAddressAdded === true) { %>
                        <a href="/add-change-company-address"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/add-change-company-address"><div class="dashboard__fauxButtonAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>

            <div class="dashboard__unit 
            <% if (shouldBrowserFocusOnURLNotActiveError === true) { %>
                -bottomBorderError
            <% } else { %>
                -bottomBorder
            <% } %>
            ">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Services Offered:</p>
                    <p class="textLarge -rightLeftMarginMedium"><%- companyServicesMyAccountValue %></p>
                </div>
                <div class="-leftMarginLargeVanish">
                    <% if (isCompanyServicesAdded === true) { %>
                        <a href="/add-change-company-services"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/add-change-company-services"><div class="dashboard__fauxButtonAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>

        <% if (isAccountUpgraded === true) { %>
            <a id="company-website"></a>
            <div class="dashboard__unit 
            <% if (shouldBrowserFocusOnURLNotActiveError === true) { %>
                -borderError
            <% } else { %>
                -bottomBorder
            <% } %>
            ">
                <div>
                    <p class="dashboard__key -blueText -rightLeftMarginMedium">Website Or Social Media Page:</p>
                    <p class="textLarge -rightLeftMarginMedium
                    <% if (shouldBrowserFocusOnURLNotActiveError === true) { %>
                        -errorColor
                    <% } else { %>
                        -blueText
                    <% } %>
                    "><%= companyWebsiteMyAccountValue %></p>
                    <% if (shouldBrowserFocusOnURLNotActiveError === true) { %>
                    <p class="textMedium -errorColor -topBottomMarginSmall -rightLeftMarginMedium"><%= urlNotActiveMessage %></p>
                    <% } %>
                </div>
                <div class="-leftMarginLargeVanish">
                    <% if (isCompanyWebsiteAdded === true) { %>
                        <a href="/add-change-company-website"><div class="dashboard__fauxButtonPremium -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/add-change-company-website"><div class="dashboard__fauxButtonPremiumAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -blueText -rightLeftMarginMedium">Company Description:</p>
                    <p class="textLarge -blueText -rightLeftMarginMedium"><%= companyDescriptionMyAccountValue %></p>
                </div>
                <div class="-leftMarginLargeVanish">
                    <% if (isCompanyDescriptionAdded === true) { %>
                        <a href="/add-change-company-description"><div class="dashboard__fauxButtonPremium -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/add-change-company-description"><div class="dashboard__fauxButtonPremiumAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder -bottomMarginHuge">
                <div>
                    <p class="dashboard__key -blueText -rightLeftMarginMedium">Company Logo Or Image:</p>
                    <p class="textLarge -blueText -rightLeftMarginMedium"><%= companyLogoMyAccountValue %></p>
                </div>
                <div class="-leftMarginLargeVanish">
                    <% if (isCompanyLogoAdded === true) { %>
                        <a href="/add-change-company-logo"><div class="dashboard__fauxButtonPremium -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/add-change-company-logo"><div class="dashboard__fauxButtonPremiumAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>

        <% } %>

        <% if (isAccountUpgraded === false) { %>

            <div class="dashboard__headlinePremium topMarginMedium"><span class="-seeThrough"><%= upgradedProfileName %> Vendor Information</span></div>

            <div class="dashboard__unitSales -bottomBorder">
                <p class="textSmall -bottomMarginTiny -rightLeftMarginMedium">
                    <a href="upgrade-extend-premium"><%= upgradeCheckItOut %></a>
                </p>
                <p class="textSmall -rightLeftMarginMedium"><%= upgradeSalesPitch %></p>
            </div>

            <div class="dashboard__unitCovered -bottomBorder">
                <a href="upgrade-extend-premium" class="dashboard__unitCoveredLink">
                    <p class="dashboard__key -rightLeftMarginMedium">Website Or Social Media Page:</p>
                    <p class="textSmall -rightLeftMarginMedium"><%= upgradeRequired %></p>
                </a>
            </div>

            <div class="dashboard__unitCovered -bottomBorder">
                <a href="upgrade-extend-premium" class="dashboard__unitCoveredLink">
                    <p class="dashboard__key -rightLeftMarginMedium">Company Description:</p>
                    <p class="textSmall -rightLeftMarginMedium"><%= upgradeRequired %></p>
                </a>
            </div>

            <div class="dashboard__unitCovered -bottomBorder -bottomMarginHuge">
                <a href="upgrade-extend-premium" class="dashboard__unitCoveredLink">
                    <p class="dashboard__key -rightLeftMarginMedium">Company Logo Or Image:</p>
                    <p class="textSmall -rightLeftMarginMedium"><%= upgradeRequired %></p>
                </a>
            </div>

        <% } %>

            <p class="dashboard__headline">Login</p>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Email Address:</p>
                    <p class="textLarge -rightLeftMarginMedium"><%= email %></p>
                </div>
                <div class="-leftMarginLargeVanish">
                    <a href="/change-email"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Password:</p>
                    <p class="textSmall -rightLeftMarginMedium">[Password not displayed for your security.]</p>
                </div>
                <div class="-leftMarginLargeVanish">
                    <a href="/change-password"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                </div>
            </div>

            <div class="textSmall -topBottomPaddingLarge -rightLeftMarginMedium -rightAlign"><a href="/delete-your-account">Delete your account.</a></div>

        </div>

    </main>

    <%- include('includes/standard-screen-footer.ejs') %>

</body>
</html>