<!DOCTYPE html>
<html lang="en">
<head>

    <title>My Account</title>

    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>

    <script defer src="js/message-x-close-button.js"></script>
    <script defer src="js/enable-success-cancel-bar.js"></script>

    <%# If there is a urlNotActiveMessage start client at the company-website location. %>
    <% if (shouldBrowserFocusOnURLNotActiveError === true) { %>
        <script defer src="js/start-at-url-not-active-message.js"></script>
    <% } %>
    
</head>
<body>
    
    <% if (typeof failMessage === 'string' || typeof noChangeMessage === 'string' || typeof successMessage === 'string') { %>
        <script>
            window.addEventListener('DOMContentLoaded', function() {
                document.getElementById('messageContainer').style.display = 'flex';
            });
        </script>
        <div id="messageContainer"
            <% if (typeof successMessage === 'string') { %> 
                class="successBar"
            <% } else if (typeof noChangeMessage === 'string') { %>
                class="noChangeBar"
            <% } else { %>
                class="cancelBar"
            <% } %>
        >
            <%# This empty div is used for centering %>
            <div class="xClose"></div>
            <div class="standardWidthVanish">
                <p class="textLarge -centerAlign">
                    <% if (typeof successMessage === 'string') { %> 
                        <%- successMessage %>
                    <% } else if (typeof noChangeMessage === 'string') { %>
                        <%- noChangeMessage %>
                    <% } else { %>
                        <%- failMessage %>
                    <% } %>
                </p>
            </div>
            <div id="xButtonContainer" class="xClose"></div>
        </div>
    <% } %>    

    <%- include('includes/dashboard-header.ejs') %>

    <main>
        
        <div class="standardWidthVanish -thinLineShadowBorder -topBottomMarginLarge">

            <p class="dashboard__headline">My Account</p>
            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Company Profile Type:</p>
                    <p class="textLarge -rightLeftMarginMedium -bottomMarginMedium"><%= companyProfileType %></p>
                    <p class="dashboard__key -rightLeftMarginMedium">Member Since:</p>
                    <p class="textLarge -rightLeftMarginMedium -bottomMarginMedium"><%= memberSince %></p>
                    <% if (isAccountUpgraded === false) { %>
                        <p class="textSmall -rightLeftMarginMedium"><a href="upgrade-extend-premium">Upgrade your company to a <%= upgradedProfileName %></a>. <%= upgradeSalesPitch %></p>
                    <% } else if (isAccountUpgraded === true) { %>
                    <p class="dashboard__key -rightLeftMarginMedium">Premium Company Profile Active Until:</p>
                    <p class="textLarge -rightLeftMarginMedium
                        <% if (isAccountUpgraded === true) { %> -bottomMarginMedium <% } %>
                        "><%= premiumExpirationDate %></p>
                        <% if (isUpgradeExpirationSoon === true) { %>
                            <p class="textLarge -errorColor -rightLeftMarginMedium -bottomMarginSmall">Your Premium account will expire <%= numberOfDaysUntilExpirationFragment %></span>.</p>
                        <% } %>
                    <p class="textSmall -rightLeftMarginMedium">
                        <% if (arePremiumAccountExtendsAvailable === true && isUpgradeExpirationSoon === true) { %>
                            <a href="upgrade-extend-premium">Renew Your Premium Account</a>: Renew your premium account for another 12 months for just <%= costInDollarsProduct_1 %>.
                        <% } else if (arePremiumAccountExtendsAvailable === true && isUpgradeExpirationSoon === false) { %>
                            <a href="upgrade-extend-premium">Extend Your Premium Account</a>: Extend your premium account for an additional 12 months for just <%= costInDollarsProduct_1 %>.
                        <% } else { %>
                            Great! Your <%= companyProfileType %> account duration is maxed out. No renewals or extensions are needed at this time.
                        <% } %>
                    </p>
                    <% } %>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder -bottomMarginHuge">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Vendor List Status:</p>
                    <% if (isAccountLive === true) { %>
                        <p class="textLarge -rightLeftMarginMedium -liveText">Your Company Profile Is Live.</p>
                    <% } else { %>
                        <p class="textLarge -rightLeftMarginMedium -bottomMarginSmall -inactiveText">Your Company Profile Is Not Live.</p>
                        <p class="textSmall -rightLeftMarginMedium">Please add your company's <%- companyPropertiesUnfilled %> to make your company profile live.</p>
                    <% } %>
                </div>
            </div>

            <p class="dashboard__headline">Company Information</p>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Company Name:</p>
                    <p class="textLarge -rightLeftMarginMedium"><%= companyNameMyAccountValue %></p>
                </div>
                <div class="-leftMarginLargeVanish">
                    <% if (isCompanyNameAdded === true) { %>
                        <a href="/add-change-company-name"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/add-change-company-name"><div class="dashboard__fauxButtonAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Company Phone:</p>
                    <p class="textLarge -rightLeftMarginMedium"><%= companyPhoneMyAccountValue %></p>
                </div>
                <div class="-leftMarginLargeVanish">
                    <% if (isCompanyPhoneAdded === true) { %>
                        <a href="/add-change-company-phone"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/add-change-company-phone"><div class="dashboard__fauxButtonAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Company Address:</p>
                    <% if (isCompanyAddressAdded === true) { %>
                        <p class="textLarge -rightLeftMarginMedium"><%= companyStreetMyAccountValue %></p>
                        <% if (typeof companyStreetTwoMyAccountValue === 'string') { %>
                            <p class="textLarge -rightLeftMarginMedium"><%= companyStreetTwoMyAccountValue %></p>
                        <% } %>
                        <p class="textLarge -rightLeftMarginMedium"><%= companyCityMyAccountValue %>, <%= companyStateMyAccountValue %> <%= companyZipMyAccountValue %></p>
                    <% } else { %>
                    <p class="textLarge -rightLeftMarginMedium"><%= companyStreetMyAccountValue %></p>
                    <% } %>
                </div>
                <div class="-leftMarginLargeVanish">
                    <% if (isCompanyAddressAdded === true) { %>
                        <a href="/add-change-company-address"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/add-change-company-address"><div class="dashboard__fauxButtonAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Services Offered:</p>
                    <p class="textLarge -rightLeftMarginMedium"><%- companyServicesMyAccountValue %></p>
                </div>
                <div class="-leftMarginLargeVanish">
                    <% if (isCompanyServicesAdded === true) { %>
                        <a href="/add-change-company-services"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/add-change-company-services"><div class="dashboard__fauxButtonAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>

            <div class="premium__unit -topMarginMedium -bottomBorder">
                <% if (isAccountUpgraded === true) { %><div class="premium__headline -centerAlign"><%= companyProfileType %> Information</div><% } %>
                <% if (isAccountUpgraded === false) { %>
                    <div class="premium__headline -rightLeftMarginMedium"><%= upgradedProfileName %>:</div>
                    <div class="premium__description -rightLeftMarginMedium"><%= upgradeSalesPitch %></div>
                <% } %>
            </div>

            <% if (isAccountUpgraded === false) { %>
            <div class="dashboard__unitCovered -bottomBorder">
                <a href="upgrade-extend-premium" class="dashboard__unitCoveredLink">
                    <p class="dashboard__key -rightLeftMarginMedium">Website Or Social Media Page:</p>
                    <p class="textSmall -rightLeftMarginMedium">Upgrade to a <%= upgradedProfileName %>.</p>
                </a>
            </div>

            <div class="dashboard__unitCovered -bottomBorder -bottomMarginHuge">
                <a href="upgrade-extend-premium" class="dashboard__unitCoveredLink">
                    <p class="dashboard__key -rightLeftMarginMedium">Company Description:</p>
                    <p class="textSmall -rightLeftMarginMedium">Upgrade to a <%= upgradedProfileName %>.</p>
                </a>
            </div>
            <% } else { %>

            <a id="company-website"></a>

            <div class="dashboard__errorFeatureUnit -topMarginMedium
            <% if (typeof urlNotActiveMessage === 'undefined') { %>
                -bottomBorder
            <% } %>
            <% if (typeof urlNotActiveMessage === 'string') { %>
                -errorBorderVanish
            <% } %>
            ">
                <div>
                    <p class="dashboard__key -blueText -rightLeftMarginMedium">Website Or Social Media Page:</p>
                    <p class="textLarge -rightLeftMarginMedium"><%= companyWebsiteMyAccountValue %></p>
                </div>
                <div class="-leftMarginLargeVanish">
                    <% if (isCompanyWebsiteAdded === true) { %>
                        <a href="/add-change-company-website"><div class="dashboard__fauxButtonPremium -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/add-change-company-website"><div class="dashboard__fauxButtonPremiumAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>
            <% if (typeof urlNotActiveMessage === 'string') { %>
                <p class="textLarge -topPaddingSmall -bottomPaddingLarge -rightLeftPaddingMedium -errorColor -bottomBorder"><%= urlNotActiveMessage %></p>
            <% } %>

            <div class="dashboard__unit -bottomBorder -bottomMarginHuge">
                <div>
                    <p class="dashboard__key -blueText -rightLeftMarginMedium">Company Description:</p>
                    <p class="textLarge -rightLeftMarginMedium"><%= companyDescriptionMyAccountValue %></p>
                </div>
                <div class="-leftMarginLargeVanish">
                    <% if (isCompanyDescriptionAdded === true) { %>
                        <a href="/add-change-company-description"><div class="dashboard__fauxButtonPremium -rightLeftMarginMedium">Change</div></a>
                    <% } else { %>
                        <a href="/add-change-company-description"><div class="dashboard__fauxButtonPremiumAdd -rightLeftMarginMedium">Add</div></a>
                    <% } %>
                </div>
            </div>

            <% } %>

            <p class="dashboard__headline">Login</p>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Email Address:</p>
                    <p class="textLarge -rightLeftMarginMedium"><%= email %></p>
                </div>
                <div class="-leftMarginLargeVanish">
                    <a href="/change-email"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                </div>
            </div>

            <div class="dashboard__unit -bottomBorder">
                <div>
                    <p class="dashboard__key -rightLeftMarginMedium">Password:</p>
                    <p class="textSmall -rightLeftMarginMedium">[Password not displayed for your security.]</p>
                </div>
                <div class="-leftMarginLargeVanish">
                    <a href="/change-password"><div class="dashboard__fauxButton -rightLeftMarginMedium">Change</div></a>
                </div>
            </div>

            <div class="textSmall -topBottomPaddingLarge -rightLeftMarginMedium -rightAlign"><a href="/delete-your-account">Delete your account.</a></div>

        </div>

    </main>

    <%- include('includes/standard-screen-footer.ejs') %>

</body>
</html>