<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset Request</title>
    <%- include('includes/head-boilerplate.ejs') %>

    <script defer src="js/character-blocker.js"></script>
    <script defer src="js/connect/password-reset-request-character-blocker.js"></script>
</head>
<body>

    <%- include('includes/narrow-screen-top-boilerplate.ejs') %>

                <h3 class="headlineLarge">Password Reset</h3>

                <p class="font15 -marginBottomTwo">Please enter the email associated with your account and click "Request Reset".</p>

                <form action="/password-reset-request" method="POST">

                    <div class="input__unit -marginBottomFour"> 
                        <label for="currentEmail" class="input__label">Email Address:</label>
                        <input id="currentEmail" class="input__field
                            <% if (typeof currentEmailError != "undefined") { %>
                                -borderError
                            <% } %>
                                " name="currentEmail" <%= emailAttributes %> value="<%= userInput.currentEmail %>" autofocus>
                        <% if (typeof currentEmailError != "undefined") { %>
                        <div class="input__error"><%= currentEmailError %></div>
                        <% } %> 
                    </div>

                    <button class="button__narrowScreen">Request Reset</button>

                </form> 

                <%- include('includes/back-to-my-account.ejs') %>
                <div class="-marginBottomFour"></div>

    <%- include('includes/narrow-screen-bottom-boilerplate.ejs') %>

</body>
</html>