<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login To Your Account On Foreclosure Cleanup Account</title>
    <%- include('includes/head_boilerplate.ejs') %>

</head>
<body>

    <%- include('includes/narrowScreen_top_boilerplate.ejs') %>

                <h3 class="headlineLarge -centerText -bottomMarginMedium">Password Reset</h3>

                <p class="textLarge -bottomMarginMedium">Please enter the email associated with your account.</p>

                <form action="/password_reset_request" method="POST">

                    <div class="input__unit -bottomMarginLarge"> 
                        <label for="email" class="input__label
                            <% if (typeof emailError != "undefined") { %>
                                -errorColor
                            <% } %>               
                            ">Email Address:</label>
                        <input id="email" class="input__field
                            <% if (typeof emailError != "undefined") { %>
                                -errorBorder
                            <% } %>
                                " name="email" <%= emailAttributes %> value="<%= userInput.email %>" autofocus>
                        <% if (typeof emailError != "undefined") { %>
                        <div class="input__errorMessage"><%= emailError %></div>
                        <% } %> 
                    </div>

                    <div class="-bottomMarginLarge">
                        <button id="narrowScreen__button">Request Reset</button>
                    </div> 

                </form> 

    <%- include('includes/narrowScreen_bottom_boilerplate.ejs') %>

</body>
</html>