<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset Limit Reached</title>
    <%- include('includes/head-boilerplate.ejs') %>
</head>
<body>

    <%- include('includes/narrow-screen-top-boilerplate.ejs') %>

            <h3 class="headlineLarge -centerAlign -bottomMarginMedium">Password Reset Limit Reached.</h3>

            <p class="textLarge -bottomMarginMedium">We are sorry but the maximum number of password reset emails that can be sent to <span class="highlightEffect"><%= email %></span> has been reached.  Please check your inbox for emails titled: <span class="highlightEffect"><%= emailSubject %></span></p>
            <p class="textLarge -bottomMarginMedium">If you don't see these emails in your main inbox please check your Promotions or Junk folders.</p>
            <p class="textLarge -bottomMarginLarge">If you cannot find a password reset email please request another reset in <%= expirationTime %>.</p>

    <%- include('includes/narrow-screen-bottom-boilerplate.ejs') %>

</body>
</html>