<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Your Password</title>
    <%- include('includes/head-boilerplate.ejs') %>
    <script defer src="js/zxcvbn.js"></script>

    <script defer src="js/password-toggle.js"></script>
    <script defer src="js/connect/password-reset-password-toggle.js"></script>

    <script defer src="js/password-errors-match-meter.js"></script>
    <script defer src="js/connect/password-reset-password-errors-match-meter.js"></script>

    <script defer src="js/character-blocker.js"></script>
    <script defer src="js/connect/password-reset-character-blocker.js"></script>
</head>
<body>

    <%- include('includes/narrow-screen-top-boilerplate.ejs') %>

            <h3 class="headlineLarge">Reset Your Password</h3>

                <form action="/password-reset?hash=<%= hash %>" method="POST">

                    <div class="input__unit -marginBottomTwo"> 
                        <label for="changedPassword" class="input__label">New Password:</label>
                        <div id="targetChangedPasswordContainer" class="password__container 
                            <% if (typeof changedPasswordError != "undefined") { %>
                                -borderError
                            <% } %>
                            ">
                            <input id="changedPassword" class="input__passwordField" name="changedPassword" <%= passwordAttributes %> value="<%= userInput.changedPassword %>" autocomplete="new-password">
                            <div class="password__toggle"><img id="changedPasswordEye" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                        </div>

                        <div id="passwordMeterContainer">
                            <div id="passwordMeterBox1" class="passwordMeterBox"></div>
                            <div id="passwordMeterBox2" class="passwordMeterBox"></div>
                            <div id="passwordMeterBox3" class="passwordMeterBox"></div>
                            <div id="passwordMeterBox4" class="passwordMeterBox"></div>
                            <div id="passwordMeterBox5" class="passwordMeterBox"></div>
                            <div id="passwordMeterLabel"></div>
                        </div>

                        <% if (typeof changedPasswordError != "undefined") { %>
                        <div id="targetChangedPasswordError" class="input__error"><%= changedPasswordError %></div>
                        <% } %> 
                    </div>

                    <div class="input__unit -marginBottomFour"> 
                        <label for="confirmationPassword" class="input__label">Confirm Password:</label>
                        <div id="targetConfirmationPasswordContainer" class="password__container 
                            <% if (typeof confirmationPasswordError != "undefined") { %>
                                -borderError
                            <% } %>
                            ">
                            <input id="confirmationPassword" class="input__passwordField" name="confirmationPassword" <%= passwordAttributes %> value="<%= userInput.confirmationPassword %>" autocomplete="new-password">
                            <div class="password__toggle"><img id="confirmationPasswordEye" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                        </div>
                        <div id="passwordMatchLabel"></div>
                        <% if (typeof confirmationPasswordError != "undefined") { %>
                        <div id="targetConfirmationPasswordError" class="input__error"><%= confirmationPasswordError %></div>
                        <% } %> 
                    </div>

                    <button class="button__narrowScreen">Save Change</button> 

                </form>

    <%- include('includes/narrow-screen-bottom-boilerplate.ejs') %>

</body>
</html>