<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset Requested</title>
    <%- include('includes/head-boilerplate.ejs') %>
</head>
<body>

    <%- include('includes/narrowScreen-top-boilerplate.ejs') %>

                <h3 class="headlineLarge -centerAlign -bottomMarginMedium">Password Reset Requested</h3>

                <p class="textLarge -bottomMarginMedium">A password reset was requested for the following email, <span class="highlightEffect"><%= email %></span> and should arrive within the next few minutes. Please watch for an email titled: <span class="highlightEffect"><%= emailSubject %></span>.</p>

                <p class="textLarge -bottomMarginLarge">For security reasons the reset link will only remain active for <%= expirationTime %>.</p>

                <p class="textMedium -centerAlign -bottomMarginLarge"><a href="password-reset-request-sent?email=<%= email %>&forward=<%= forward %>">Resend password reset email</a>.</p>

    <%- include('includes/narrowScreen-bottom-boilerplate.ejs') %>

</body>
</html>