<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset Requested</title>
    <%- include('includes/head-boilerplate.ejs') %>
</head>
<body>

    <%- include('includes/narrow-screen-top-boilerplate.ejs') %>

                <h3 class="headlineLarge -centerAlign -bottomMarginMedium">Password Reset Requested</h3>

                <p class="textLarge -bottomMarginMedium">A password reset was requested for the following email, <span class="highlightEffect"><%= email %></span> and should arrive within the next few minutes. Please watch for an email titled: <span class="highlightEffect"><%= emailSubject %></span>.</p>

                <p class="textLarge -bottomMarginMedium">For security reasons the reset link will remain active for only <%= expirationTime %>.</p>

                <p class="textLarge -bottomMarginLarge">If for some reason the email does not arrive <a href="password-reset-request">please request an additional password reset</a>.</p>

    <%- include('includes/narrow-screen-bottom-boilerplate.ejs') %>

</body>
</html>