<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset Request</title>
    <%- include('includes/head-boilerplate.ejs') %>

    <script>
        let patternCurrentEmail = <%- patternCurrentEmail %>
    </script>
    <script defer src="js/character-blocker.js"></script>
    <script defer src="js/connect/password-reset-request-character-blocker.js"></script>
</head>
<body>

    <%- include('includes/narrow-screen-top-boilerplate.ejs') %>

                <h3 class="headlineLarge -centerAlign -bottomMarginMedium">Password Reset</h3>

                <p class="textLarge -bottomMarginMedium">Please enter the email associated with your account and click "Request Reset".</p>

                <form action="/password-reset-request" method="POST">

                    <div class="input__unit -bottomMarginLarge"> 
                        <label for="currentEmail" class="input__label">Email Address:</label>
                        <input id="currentEmail" class="input__field
                            <% if (typeof currentEmailError != "undefined") { %>
                                -errorBorder
                            <% } %>
                                " name="currentEmail" <%= emailAttributes %> value="<%= userInput.currentEmail %>" autofocus>
                        <% if (typeof currentEmailError != "undefined") { %>
                        <div class="input__error"><%= currentEmailError %></div>
                        <% } %> 
                    </div>

                    <div class="-bottomMarginLarge">
                        <button id="narrowScreen__button">Request Reset</button>
                    </div> 

                </form> 

                <div class="textMedium -rightAlign -bottomMarginLarge"><a href="/login">Back To Login ></a></div>

    <%- include('includes/narrow-screen-bottom-boilerplate.ejs') %>

</body>
</html>