<!DOCTYPE html>
<html lang="en">
<head>
    <title>Foreclosure Cleanup.org</title>
    <%- include('includes/header_boilerplate.ejs') %>
    <%# <script defer src="js/screen-width.js"></script> %>
</head>
<body>

    <header>
        <div class="rowOne -rightLeftPadding">
            <div class="rowOne__internal -standardWidth">
                <h1 class="rowOne__left --font125">Foreclosure Cleanup.org</h1>
                <%- include('includes/row_one_right.ejs') %>
            </div>
        </div>
        <%- include('includes/logo_top.ejs') %>
        <%- include('includes/navigation_top.ejs') %>
    </header>

    <main class="-topBottomPaddingLarge">

        <div class="-standardWidth">
            <h3 class="">Privacy Policy & Terms Of Service</h3>
            <p>By accessing this website, you are agreeing to be bound by these website Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trade mark law.</p>
        </div>

    </main>

    <%- include('includes/footer.ejs') %>

</body>
</html>