<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register Your Property Preservation Company On The National Vendor List</title>
    <%- include('includes/head-boilerplate.ejs') %>
    <script defer src="js/zxcvbn.js"></script>

    <script defer src="js/register-activate-form-button.js"></script>

    <script defer src="js/password-toggle.js"></script>
    <script defer src="js/connect/register-password-toggle.js"></script>

    <script defer src="js/password-errors-match-meter.js"></script>
    <script defer src="js/connect/register-password-errors-match-meter.js"></script>

    <script defer src="js/character-blocker.js"></script>
    <script defer src="js/connect/register-character-blocker.js"></script>

    <script defer src="js/register-remove-newemail-error.js"></script>

    <!-- <script src="https://www.google.com/recaptcha/api.js"></script>
    <script defer src="js/connect/google-captcha.js"></script>  -->
</head>
<body>

    <%- include('includes/narrow-screen-top-boilerplate.ejs') %>
                
                <h3 class="headlineLarge">Register Your Company</h3>

                <p class="font1 -marginBottomOne">If you own a property preservation company or provide maintenance services for foreclosed properties it is free
                    to register your business on the national vendor list. We do not spam vendors and will never sell or give your information to a 3rd party.</p>

                <p class="font1 -centerAlign -marginBottomTwo">Already registered? Sign in <a href="/login">here</a>.</p>

                <form action="/register" method="POST">

                    <div class="input__unit -marginBottomTwo"> 
                        <label for="newEmail" class="input__label">Email:</label>
                        <input id="newEmail" class="input__field
                            <% if (typeof newEmailError != "undefined") { %>
                                -borderError
                            <% } %>
                            " name="newEmail" <%= emailAttributes %> value="<%= userInput.newEmail %>" autofocus>
                        <% if (typeof newEmailError != "undefined") { %>
                        <div id="targetNewEmailError" class="input__error"><%= newEmailError %></div>
                        <% } %> 
                    </div>

                    <div class="input__unit -marginBottomTwo"> 
                        <label for="newPassword" class="input__label">Password:</label>
                        <div id="targetNewPasswordContainer" class="password__container 
                            <% if (typeof newPasswordError != "undefined") { %>
                                -borderError
                            <% } %>
                            ">
                            <input id="newPassword" class="input__passwordField" name="newPassword" <%= passwordAttributes %> value="<%= userInput.newPassword %>" autocomplete="new-password">
                            <div class="password__toggle"><img id="newPasswordEye" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                        </div>
                        
                        <div id="passwordMeterContainer">
                            <div id="passwordMeterBox1" class="passwordMeterBox"></div>
                            <div id="passwordMeterBox2" class="passwordMeterBox"></div>
                            <div id="passwordMeterBox3" class="passwordMeterBox"></div>
                            <div id="passwordMeterBox4" class="passwordMeterBox"></div>
                            <div id="passwordMeterBox5" class="passwordMeterBox"></div>
                            <div id="passwordMeterLabel"></div>
                        </div>

                        <% if (typeof newPasswordError != "undefined") { %>
                        <div id="targetNewPasswordError" class="input__error"><%= newPasswordError %></div>
                        <% } %> 
                    </div>

                    <div class="input__unit -marginBottomFour"> 
                        <label for="confirmationPassword" class="input__label">Confirm Password:</label>
                        <div id="targetConfirmationPasswordContainer" class="password__container 
                            <% if (typeof confirmationPasswordError != "undefined") { %>
                                -borderError
                            <% } %>
                            ">
                            <input id="confirmationPassword" class="input__passwordField" name="confirmationPassword" <%= passwordAttributes %> value="<%= userInput.confirmationPassword %>" autocomplete="new-password">
                            <div class="password__toggle"><img id="confirmationPasswordEye" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                        </div>

                        <div id="passwordMatchLabel"></div>

                        <% if (typeof confirmationPasswordError != "undefined") { %>
                        <div id="targetConfirmationPasswordError" class="input__error"><%= confirmationPasswordError %></div>
                        <% } %> 

                    </div>

                    <div class="-marginBottomFour">
                        <%- include('includes/privacy-terms.ejs', { buttonTitle : 'Register' }) %>
                    </div>
                    
                    <div class="-marginBottomFour">
                        <button id="button__submit" class="g-recaptcha button__narrowScreen -marginBottomTwo" data-sitekey="6LexRCcaAAAAAL8e6OIIpU-JvFonCgqorfJGkou7" data-callback='onSubmit' data-action='submit'>Register</button>
                    </div>  

                </form> 

                <%- include('includes/copyright.ejs', { size: 'narrow' }) %>

            </div>

        </div>

    </main>

</body>
</html>