<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register Your Property Preservation Company On The National Vendor List</title>
    <%- include('includes/head_boilerplate.ejs') %>
    <script defer src="js/zxcvbn.js"></script>
    <script defer src="js/email_error_message_check.js"></script>
    <script defer src="js/password_strength_match.js"></script>
    <script defer src="js/password_toggle.js"></script>
    <script defer src="js/register-button-check.js"></script>
    <script defer src="js/screen-width.js"></script>
</head>
<body>

    <%- include('includes/narrowScreen_top_boilerplate.ejs') %>
                
                <h3 class="headlineLarge -centerText -bottomMarginMedium">Create Your Account</h3>

                <p class="textSmall -centerText -bottomMarginMedium">Already have an account? Sign in <a href="/login">here</a>.</p>

                <form action="/register" method="POST">

                    <div class="input__unit -bottomMarginMedium"> 
                        <label for="email" id="targetEmailLabel" class="input__label
                            <% if (typeof emailError != "undefined") { %>
                                -errorColor
                            <% } %>   
                            ">Email:</label>
                        <input id="email" class="input__field
                            <% if (typeof emailError != "undefined") { %>
                                -errorBorder
                            <% } %>
                            " name="email" <%= emailAttributes %> value="<%= userInput.email %>" autofocus>
                        <% if (typeof emailError != "undefined") { %>
                        <div id="targetEmailErrorMessage" class="input__errorMessage"><%= emailError %></div>
                        <% } %> 
                    </div>

                    <div class="input__unit -bottomMarginMedium"> 
                        <label for="password" id="targetPasswordLabel" class="input__label
                            <% if (typeof passwordErrorMessage != "undefined") { %>
                                -errorColor
                            <% } %> 
                            ">Password:</label>
                        <div id="targetPasswordContainer" class="password__container 
                            <% if (typeof passwordErrorMessage != "undefined") { %>
                                -errorBorder
                            <% } %>
                            ">
                            <input id="password" class="input__passwordField" name="password" <%= passwordAttributes %> value="<%= userInput.password %>">
                            <div class="password__toggle"><img id="password__eye" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                        </div>
                        
                        <div id="passwordMeterContainer">
                            <div id="passwordMeterBox1" class="passwordMeterBox"></div>
                            <div id="passwordMeterBox2" class="passwordMeterBox"></div>
                            <div id="passwordMeterBox3" class="passwordMeterBox"></div>
                            <div id="passwordMeterBox4" class="passwordMeterBox"></div>
                            <div id="passwordMeterBox5" class="passwordMeterBox"></div>
                            <div id="passwordMeterLabel"></div>
                        </div>

                        <% if (typeof passwordErrorMessage != "undefined") { %>
                        <div id="targetPasswordErrorMessage" class="input__errorMessage"><%= passwordErrorMessage %></div>
                        <% } %> 
                    </div>

                    <div class="input__unit -bottomMarginLarge"> 
                        <label for="passwordConfirm" id="targetPasswordConfirmLabel" class="input__label
                            <% if (typeof passwordConfirmErrorMessage != "undefined") { %>
                                -errorColor
                            <% } %> 
                            ">Confirm Password:</label>
                        <div id="targetPasswordConfirmContainer" class="password__container 
                            <% if (typeof passwordConfirmErrorMessage != "undefined") { %>
                                -errorBorder
                            <% } %>
                            ">
                            <input id="passwordConfirm" class="input__passwordField" name="passwordConfirm" <%= passwordConfirmAttributes %> value="<%= userInput.passwordConfirm %>">
                            <div class="password__toggle"><img id="password__eyeConfirm" src="images/eye-slash-solid.svg" alt="show / hide password"></div>
                        </div>

                        <div id="passwordMatchLabel"></div>
                        <% if (typeof passwordConfirmErrorMessage != "undefined") { %>
                        <div id="targetPasswordConfirmErrorMessage" class="input__errorMessage"><%= passwordConfirmErrorMessage %></div>
                        <% } %> 

                    </div>

                    <div class="-bottomMarginLarge">
                        <div id="termsOfUseUnit" class="checkBox__unit
                            <% if (typeof termsOfUseError != "undefined") { %>
                                    -errorBorderCheckbox
                            <% } %> 
                            ">
                            <input type="checkbox" id="termsOfUse" name="termsOfUse" value="agreed">
                            <label class="textSmall" for="termsOfUse">By creating an account I agree to the <a href="/terms_use_privacy_policy">Terms Of Use</a> and acknowledge that I have read the <a href="/terms_use_privacy_policy">Privacy Policy</a>.</label>
                        </div>
                        <% if (typeof termsOfUseError != "undefined") { %>
                            <div id="targetTermsOfUseErrorMessage" class="input__errorMessage"><%= termsOfUseError %></div>
                        <% } %> 
                    </div>
                    
                    <div class="-bottomMarginLarge">
                        <button id="narrowScreen__button">Register</button>
                    </div>  

                </form> 

                <p id="narrowScreen_copyright">© Foreclosure Cleanup.org - All Rights Reserved</p>

            </div>

        </div>

    </main>

</body>
</html>