<!DOCTYPE html>
<html lang="en">
<head>
    <title>Renew Or Extend Your Premium Account</title>
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>
    <script>var stripePublicKey = '<%- stripePublicKey %>';</script>
    <script defer src="https://js.stripe.com/v3/"></script>
    <script defer src="js/checkout.js"></script>
</head>
<body>

    <%- include('includes/dashboard-header.ejs') %>

    <main>

        <div class="standardWidthVanish -thinLineShadowBorder -topBottomMarginLarge">

            <p class="dashboard__headline">Renew Or Extend Your Account</p>
            <div class="dashboard__unit -bottomBorder -bottomMarginLarge">
                <div>
                    <p class="textLarge -rightLeftMarginMedium -bottomMarginMedium">Include a link to your company's website or social media page plus add a company description for just $20 per year.</p>
                    <div class="-bottomMarginMedium" style="text-align: center"><img src="images/junk-graphic.jpg"></div>
                </div>
            </div>

            <div class="narrowWidthVanish -bottomMarginLarge">
                <button id="checkout-button" class="upgradePremium__button">Click Me</button> 
            </div>

        </div>

    </main>

    <%- include('includes/standard-screen-footer.ejs') %>

</body>
</html>